In [ ]:
from bs4 import BeautifulSoup
import pandas as pd
import requests
import re
import time
from openpyxl import load_workbook
import os
import xlwings
import xlsxwriter

In [11]:

stock_list=['ASHOKA', 'BORORENEW', 'IRB', 'JSWENERGY', 'NBCC', 'GSFC', 'GMDCLTD', 'LANDMARK', 'SEQUENT',
 'PATANJALI', 'NAM-INDIA', 'NYKAA', 'EASEMYTRIP', 'JTEKTINDIA', 'JCHAC', 'SUPRAJIT', 'LATENTVIEW',
 'ICIL', 'ISGEC', 'ALOKINDS', 'SIEMENS', 'PRICOLLTD', 'ACLGATI', 'DLF', 'CAPLIPOINT', 'BAYERCROP',
 'DIVGIITTS', 'SURYAROSNI', 'POONAWALLA', 'MOTILALOFS', 'AHLUCONT', 'NATIONALUM', 'DCAL', 'COCHINSHIP',
 'MFSL', 'GODREJPROP', 'ABB', 'JTLIND', 'CHOICEIN', 'AVALON', 'GNFC', 'MINDACORP', 'TI', 'THOMASCOOK',
 'NFL', 'SCI', 'JINDALSAW', 'GREENPLY', 'SSWL', 'APOLLOTYRE', 'MSTCLTD', 'SOLARINDS', 'OBEROIRLTY',
 'HEROMOTOCO', 'TIPSINDLTD', 'ETHOSLTD', 'CARERATING', 'ADANIPORTS', 'BLS', 'CHALET', 'AMBER',
 'KAYNES', 'FINOPB', 'RCF', 'MANKIND', 'KALYANKJIL', 'INFIBEAM', 'MAPMYINDIA', 'CESC', 'SUNTECK',
 'PCBL', 'PHOENIXLTD', 'LLOYDSENGG', 'BALKRISIND', 'CENTURYTEX', 'TRENT', 'STAR', 'ABBOTINDIA',
 'ACCELYA', 'GRINFRA', 'GRANULES', 'MHRIL', 'HINDPETRO', 'SBILIFE', 'UTIAMC', 'EPIGRAL', 'STYLAMIND',
 'KIRLOSBROS', 'HEMIPROP', 'INDIGO', 'UJJIVAN', 'GET&D', 'ROLEXRINGS', 'INTELLECT', 'VBL', 'MANINFRA',
 'APOLLOHOSP','TRIDENT', 'ADANIENT', 'BRIGADE', 'LEMONTREE', 'BLUESTARCO', 'AEGISCHEM', 'PARADEEP',
 'MAXHEALTH', 'ECLERX', 'APOLLOPIPE', 'HCC', 'ARVIND', 'BIRLACORPN', 'WONDERLA', 'ADANIENSOL', 'GPIL',
 'LTTS', 'JSL', 'CEATLTD', 'GANESHHOUC', 'PRUDENT', 'BCG', 'VTL', 'GLS', 'MAYURUNIQ', 'BAJAJ-AUTO',
 'SUZLON', 'RVNL', 'DBREALTY', 'OLECTRA', 'KTKBANK', 'PETRONET', 'LT', 'WOCKPHARMA', 'APLAPOLLO',
 'EIHOTEL', 'HDFCAMC', 'JINDALSTEL', 'CONCOR', 'POLICYBZR', 'TATAMTRDVR', 'CENTURYPLY', 'MOLDTKPAC',
 'AARTIDRUGS', 'BOSCHLTD', 'EQUITASBNK', 'DBL', 'CIPLA', 'SCHAEFFLER', 'TDPOWERSYS', 'BHARATFORG',
 'TATAMOTORS', 'IPCALAB', 'SUNPHARMA', 'CHEMPLASTS', 'PSPPROJECT', 'NAUKRI', 'HCLTECH', 'BHARTIARTL',
 'ITI', 'NEOGEN', 'FSL', 'TINPLATE', 'GLENMARK', 'INDHOTEL', 'TATASTEEL', 'BEPL', 'RAINBOW',
 'LAURUSLABS', 'DCXINDIA', 'CUMMINSIND', 'BSOFT', 'MARICO', 'FIVESTAR', 'ELECON', 'LTIM', 'LICI',
 'COALINDIA', 'IEX', 'JUBLPHARMA', 'BDL', 'DIVISLAB', 'JKIL', 'SHYAMMETL', 'DOLLAR', 'EIDPARRY',
 'BERGEPAINT', 'HEIDELBERG', 'MOTHERSON', 'TITAGARH', 'QUESS', 'PRESTIGE', 'CONCORDBIO', 'VSTTILLERS',
 'HONAUT', 'CIEINDIA', 'SOMANYCERA', 'NH', 'TTKPRESTIG', 'AUTOAXLES', 'GUJGASLTD', 'GODFRYPHLP',
 'RADICO', 'BSE', 'VIJAYA', 'GHCL', 'GALAXYSURF', 'EXIDEIND', 'FUSION', 'GRINDWELL', 'FIEMIND',
 'JKPAPER', 'KIMS', 'JISLJALEQS', 'LUPIN', 'BALRAMCHIN', 'RUPA', 'SUVENPHAR', 'POWERINDIA', 'NMDC',
 'CREDITACC', 'CARBORUNIV', 'IGL', 'RAJESHEXPO', 'LAOPALA', 'PIIND', 'NTPC', 'VOLTAMP', 'HUDCO', 'MOL',
 'SYNGENE', 'TATACOMM', 'BPCL', 'SONATSOFTW', 'JBCHEPHARM', 'NCC', 'CCL', 'M&M', 'MARUTI', 'JKTYRE',
 'KOLTEPATIL', 'PNCINFRA', 'DODLA', 'RAJRATAN', 'ASTRAL', 'EPL', 'JAICORPLTD', 'TIRUMALCHM', 'IRCON',
 'TEGA', 'KPITTECH', 'TECHM', 'PTC', 'JBMA', 'TORNTPHARM', 'BEL', 'GLAND', 'ZOMATO', 'SULA',
 'FINCABLES', 'INGERRAND', 'ANANDRATHI', 'SWSOLAR', 'POWERMECH', 'AARTIIND', 'SUNFLAG', 'RAMKY', 'HAL',
 'IIFL', 'INDIACEM', 'KPRMILL', 'RITES', 'ANANTRAJ', 'OIL', 'SHARDACROP', 'KFINTECH', 'ARVINDFASN',
 'HINDCOPPER', 'LUXIND', 'TRIVENI', 'FEDERALBNK', 'SUNDRMFAST', 'UNOMINDA', 'NRBBEARING', 'KIRLOSENG',
 'BBTC', 'PAISALO', 'HGS', 'FACT', 'TECHNOE', 'VEDL', 'PIDILITIND', 'MAZDOCK', 'ZFCVINDIA', 'TATACHEM',
 'TMB', 'TATAPOWER', 'BANDHANBNK', 'DEVYANI', 'TCS', 'INFY', 'TANLA', 'TIINDIA', '3MINDIA', 'LODHA',
 'DEEPAKNTR', 'WHIRLPOOL', 'RAILTEL', 'NESCO', 'TATAMETALI', 'BAJAJCON', 'WELSPUNLIV', 'MOIL',
 'J&KBANK', 'AUROPHARMA', 'TATAELXSI', 'SAKSOFT', 'DIXON', 'GSPL', 'HOMEFIRST', 'NATCOPHARM',
 'GMMPFAUDLR', 'HARSHA', 'RKFORGE', 'HERITGFOOD', 'CARYSIL', 'MSUMI', 'COSMOFIRST', 'FINEORG',
 'DMART', 'SHAREINDIA', 'JKCEMENT', 'GAIL', 'CHENNPETRO', 'HAPPSTMNDS', 'BHEL', 'AAVAS', 'ASTRAMICRO',
 'IFBIND', 'VRLLOG', 'GUJALKALI', 'TATACONSUM', 'STARCEMENT', 'VINATIORGA', 'IKIO', 'IRCTC', 'SYRMA',
 'GATEWAY', 'ASTERDM', 'ICICIGI', '360ONE', 'CROMPTON', 'SBCL', 'AWL', 'RATNAMANI', 'LGBBROSLTD', 
 'KKCL', 'HGINFRA', 'UJJIVANSFB', 'ISEC', 'WIPRO', 'BANKINDIA', 'CANFINHOME', 'JUBLINGREA',
 'AARTIPHARM', 'EMIL', 'ADANIGREEN', 'PERSISTENT', 'KAJARIACER', 'UFLEX', 'VOLTAS', 'HSCL', 'KRBL',
 'PGEL', 'JUSTDIAL', 'PRSMJOHNSN', 'SOUTHBANK', 'ZYDUSLIFE', 'GRAPHITE', 'GABRIEL', 'INDIAGLYCO',
 'UNIPARTS', 'SOBHA', 'COFORGE', 'CHOLAFIN', 'CHAMBLFERT', 'BIOCON', 'LICHSGFIN', 'OPTIEMUS',
 'JYOTHYLAB', 'CAMS', 'UNIONBANK', 'HAVELLS', 'WSTCSTPAPR', 'SPARC', 'MRPL', 'INDIGOPNTS', 
 'ITDCEM', 'CYIENT', 'KANSAINER', 'TIDEWATER', 'CGPOWER', 'MAHLOG', 'PGHL', 'HINDUNILVR', 
 'ROUTE', 'STARHEALTH', 'GREENLAM', 'PNBHOUSING', 'IRFC', 'VESUVIUS', 'BALMLAWRIE', 'SHOPERSTOP',
 'MASTEK', 'POWERGRID', 'AIAENG', 'ABCAPITAL', 'LINDEINDIA', 'CANBK', 'IBREALEST', 'JMFINANCIL',
 'CONFIPET', 'DWARKESH', 'EVEREADY', 'AETHER', 'SAREGAMA', 'SONACOMS', 'BAJAJHLDNG', 'ATGL', 
 'TORNTPOWER', 'SUPRIYA', 'AGI', 'RAYMOND', 'SAIL', 'BEML', 'HINDWAREAP', 'ELGIEQUIP', 'BANKBARODA',
 'NHPC', 'METROPOLIS', 'IDBI', 'ERIS', 'CDSL', 'KIRIINDUS', 'LXCHEM', 'RENUKA', 'GRASIM', 'MRF',
 'CERA', 'IOLCP', 'EDELWEISS', 'INDUSINDBK', 'JSWSTEEL', 'KOTAKBANK', 'SIYSIL', 'FDC', 'DALMIASUG', 
 'MCDOWELL-N', 'SBIN', 'PFIZER', 'RELAXO', 'ANGELONE', 'PPLPHARMA', 'BAJAJHIND', 'DRREDDY', 'CRISIL', 
 'APTUS', 'JAMNAAUTO', 'UNICHEMLAB', 'IOC', 'TITAN', 'GPPL', 'SUNTV', 'SPANDANA', 'YESBANK',
 'MANYAVAR', 'PNB', 'FINPIPE', 'ADANIPOWER', 'TATAINVEST', 'SCHNEIDER', 'ASTRAZEN', 'SYMPHONY', 
 'MARKSANS', 'USHAMART', 'UCOBANK', 'VENKEYS', 'SHREECEM', 'NAZARA', 'BAJFINANCE', 'RELIANCE', 
 'BECTORFOOD', 'KNRCON', 'ITC', 'NOCIL', 'AXISBANK', 'ICICIPRULI', 'SIS', 'ALKEM', 'THERMAX', 
 'ENGINERSIN', 'HNDFDS', 'GRSE', 'MAHABANK', 'SBFC', 'KSCL', 'SUMICHEM', 'PGHH', 'CHOLAHLDNG', 
 'ULTRACEMCO', 'EICHERMOT', 'SANOFI', 'HINDALCO', 'PAYTM', 'ADVENZYMES', 'SFL', 'PRIVISCL', 'ROSSARI',
 'PEL', 'APCOTEXIND', 'OFSS', 'ICICIBANK', 'MAITHANALL', 'M&MFIN', 'ASHOKLEY', 'SJVN', 'GRAVITA', 
 'TEAMLEASE', 'ZENTEC', 'THYROCARE', 'CASTROLIND', 'DATAMATICS', 'TIMETECHNO', 'RTNPOWER', 'HINDZINC',
 'IOB', 'TIIL', 'CAMLINFINE', 'MTARTECH', 'AMIORG', 'GICRE', 'NSLNISP', 'CUB', 'VARROC', 'MGL', 'KPIL',
 'BOMDYEING', 'NUVOCO', 'VMART', 'BARBEQUE', 'HLEGLAS', 'HBLPOWER', 'ONGC', 'DALBHARAT', 'TARSONS', 
 'UPL', 'SHILPAMED', 'GESHIP', 'KARURVYSYA', 'ACE', 'MAHSEAMLES', 'CMSINFO', 'HIL', 'RATEGAIN', 
 'DELTACORP', 'ATUL', 'SBICARD', 'SHANTIGEAR', 'STLTECH', 'PRINCEPIPE', 'FORTIS', 'CARTRADE', 'TTML',
 'DELHIVERY', 'GREENPANEL', 'ORIENTELEC', 'ALKYLAMINE', 'TEJASNET', 'TCIEXP', 'ABFRL', 'KEC', 
 'MEDPLUS', 'PARAS', 'GOCOLORS', 'LALPATHLAB', 'SKFINDIA', 'HDFCBANK', 'JINDALPOLY', 'GODREJAGRO', 
 'PRAJIND', 'LTFOODS', 'BLUEDART', 'VGUARD', 'ASIANPAINT', 'TVSSCS', 'AFFLE', 'NIACL', 'HCG', 'RHIM',
 'KIRLPNU', 'REDINGTON', 'JINDWORLD', 'INDIANB', 'CAMPUS', 'FCL', 'TVSMOTOR', 'APLLTD', 'GUFICBIO', 
 'IDFC', 'CENTRALBK', 'SWANENERGY', 'VIPIND', 'HDFCLIFE', 'DBCORP', 'GREAVESCOT', 'NESTLEIND', 
 'GLOBUSSPR', 'DATAPATTNS', 'WESTLIFE', 'TIMKEN', 'SAFARI', 'BAJAJFINSV', 'SUBEXLTD', 'TCI',
 'DREAMFOLKS', 'ASTEC', 'TCNSBRANDS', 'SPLPETRO', 'DABUR', 'RAMCOCEM', 'POLYMED', 'CIGNITITEC',
 'AVANTIFEED', 'NETWORK18', 'SUDARSCHEM', 'AMBUJACEM', 'KRSNAA', 'ORIENTCEM',  'DEN', 
  'L&TFH', 'IMFA', 'SHRIRAMFIN', 'EMAMILTD', 'DCMSHRIRAM', 'NEWGEN', 'BATAINDIA', 'ESABINDIA',
 'CRAFTSMAN', 'MIDHANI', 'MUTHOOTFIN', 'PVRINOX', 'MEDANTA', 'ARE&M', 'LAXMIMACH', 'MAHLIFE',
 'BRITANNIA', 'MASFIN', 'GLAXO', 'MANAPPURAM', 'IONEXCHANG', 'WABAG', 'SAPPHIRE', 'NEULANDLAB',
 'MMTC', 'ESCORTS', 'RBLBANK', 'NAVNETEDUL', 'GODREJCP', 'IDFCFIRSTB', 'HIKAL', 'RAIN', 'NLCINDIA', 
 'EMUDHRA', 'INDUSTOWER', 'HEG', 'ASAHIINDIA', 'CLEAN', 'PTCIL', 'AJANTPHARM', 'RELINFRA', 'IFCI',
 'STYRENIX', 'RBA', 'SUPREMEIND', 'WELENT', 'ENDURANCE', 'RELIGARE', 'HFCL', 'TRITURBINE', 'BALAMINES',
 'SANSERA', 'RECLTD', 'ACI', 'ZYDUSWELL', 'INDOCO', 'GAEL', 'POLYPLEX', 'DEEPAKFERT', 'RPOWER', 'JWL',
 'SUNDARMFIN', 'ZENSARTECH', 'NAVA', 'JUBLFOOD', 'RALLIS', 'KSB', 'GOKEX', 'DCBBANK', 'ACC', 
 'RESPONIND', 'SARDAEN', 'PDSL', 'GMRINFRA', 'HINDOILEXP', 'COLPAL', 'COROMANDEL', 'VAIBHAVGBL',
 'MCX', 'APARINDS', 'TV18BRDCST', 'INDIAMART', 'UBL', 'FLUOROCHEM', 'DHANI', 'TATVA', 'JKLAKSHMI',
 'METROBRAND', 'KEI', 'HATHWAY', 'CSBBANK', 'NAVINFLUOR', 'AUBANK', 'PAGEIND', 'PFC', 'JPPOWER', 
 'ANURAS', 'IBULHSGFIN', 'SRF', 'INOXWIND', 'ELECTCAST', 'RTNINDIA', 'WELCORP', 'GILLETTE',
 'GODREJIND', 'CGCL', 'GARFIBRES',
 'DISHTV', 'IDEA', 'JPASSOCIAT', 'ALLCARGO', 'ZEEL', 'POLYCAB']

len(stock_list)

749

'BIKAJI','MPHASIS'

https://www.screener.in/company/compare/00000006/?limit=50&page=1

# SAVING TO THE EXCEL FILE

In [ ]:
directory= 'C:\\Users\\User\OneDrive\\Documents\\screener_data\\'

In [ ]:
import os
import time
import pandas as pd

#stock_list=['PNB','BANKBARODA','AXISBANK','ICICIBANK','SBIN','IOB',
#'INDUSINDBK','UNIONBANK','CANBK','KOTAKBANK','IDBI']

# Create a new DataFrame to store all the data
balance = pd.DataFrame()
p_l = pd.DataFrame()
cash = pd.DataFrame()
# Create a new Excel workbook
writer = pd.ExcelWriter('C:\\Users\\User\\OneDrive\\Documents\\screener_data\\combined_data.xlsx')

for stock in stock_list:
    url = 'https://www.screener.in/company/'+stock
    table=pd.read_html(url)

    balance_sheet=table[6]
    profit_loss=table[1]
    cash_flow=table[7]
    time.sleep(5)

    # Add a column to identify the data of different companies
    balance_sheet['Company'] = stock
    balance_sheet['Sheet'] = 'Balance Sheet'
    profit_loss['Company'] = stock
    profit_loss['Sheet'] = 'Profit and Loss Statement'
    cash_flow['Company'] = stock
    cash_flow['Sheet'] = 'Cash Flow Statement'
    
    
    # Append the data of each company to the combined DataFrame
    balance = balance.append(balance_sheet, ignore_index=True)
    p_l = p_l.append(profit_loss, ignore_index=True)
    cash = cash.append(cash_flow, ignore_index=True)
    
    balance.to_excel(writer, sheet_name='Balance_Sheet')
    p_l.to_excel(writer, sheet_name='Profit_Loss_Statement')
    cash.to_excel(writer, sheet_name='Cash_Flow_Statement')

# Close the Pandas Excel writer and output the Excel file.
writer.save()

# SAVING TO THE SQL FILE

In [1]:
import mysql.connector

# Establish connection to MySQL
conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="prithvi166",
    database="Stockdata",
    auth_plugin="mysql_native_password"
)

In [ ]:
import os
import time
import pandas as pd
from sqlalchemy import create_engine


#stock_list=['PNB','BANKBARODA','AXISBANK','ICICIBANK','SBIN','IOB',
#'INDUSINDBK','UNIONBANK','CANBK','KOTAKBANK','IDBI']

# Create a new SQLite database in memory


engine = create_engine('mysql://root:prithvi166@localhost:3306/stockdata')

# Create a new DataFrame to store all the data
balance = pd.DataFrame()
p_l = pd.DataFrame()
cash = pd.DataFrame()

for stock in stock_list:
    url = 'https://www.screener.in/company/'+stock
    table=pd.read_html(url)

    balance_sheet=table[6]
    profit_loss=table[1]
    cash_flow=table[7]
    time.sleep(5)

    # Add a column to identify the data of different companies
    balance_sheet['Company'] = stock
    balance_sheet['Sheet'] = 'Balance Sheet'
    profit_loss['Company'] = stock
    profit_loss['Sheet'] = 'Profit and Loss Statement'
    cash_flow['Company'] = stock
    cash_flow['Sheet'] = 'Cash Flow Statement'
    
    # Append the data of each company to the combined DataFrame
    balance = balance.append(balance_sheet, ignore_index=True)
    p_l = p_l.append(profit_loss, ignore_index=True)
    cash = cash.append(cash_flow, ignore_index=True)
    
    # Save the DataFrame as a table in the SQLite database
    balance.to_sql('balance_sheet', con=engine, if_exists='append', index=False)
    p_l.to_sql('profit_loss_statement', con=engine, if_exists='append', index=False)
    cash.to_sql('cash_flow_statement', con=engine, if_exists='append', index=False)

# OVERVIEW OF IMPORTED DATA FROM MYSQL

In [3]:
import mysql.connector

db_connect = mysql.connector.connect(host="localhost",user="root",password="prithvi166",
                                     database="stockdata",auth_plugin="mysql_native_password")

cur=db_connect.cursor()
cur.execute("Show tables;")
myresult = cur.fetchall()
 
for x in myresult:
    print(x)

('balance_sheet',)
('cash_flow_statement',)
('profit_loss_statement',)

# Balance Sheet

In [6]:
import pandas as pd

db_connect = mysql.connector.connect(host="localhost",user="root",password="prithvi166",
                                     database="stockdata",auth_plugin="mysql_native_password")

cur1=db_connect.cursor()

cur1.execute("SELECT * FROM balance_sheet ")

balance_sheet= cur1.fetchall()
df=pd.DataFrame(balance_sheet)
df

,0,1,2,3,4,5,6,7,8,9,...,45,46,47,48,49,50,51,52,53,54
0,Equity Capital,53.0,53.0,79.0,79.0,94.0,94.0,94.0,140.0,140.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Reserves,726.0,801.0,854.0,975.0,1602.0,1629.0,1833.0,2072.0,2459.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Preference Capital,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Borrowings +,312.0,273.0,224.0,445.0,434.0,200.0,160.0,788.0,447.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Other Liabilities +,815.0,949.0,1053.0,1167.0,940.0,1527.0,1841.0,2308.0,2266.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
139063,Fixed Assets +,2148.0,1968.0,1796.0,2864.0,4693.0,4344.0,3902.0,3716.0,3681.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
139064,CWIP,6.0,28.0,36.0,222.0,62.0,123.0,177.0,132.0,145.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
139065,Investments,56.0,64.0,119.0,31.0,52.0,75.0,84.0,160.0,79.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
139066,Other Assets +,1057.0,1226.0,1234.0,1387.0,1699.0,1608.0,1967.0,2095.0,1813.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
139067,Total Assets,3267.0,3287.0,3185.0,4504.0,6506.0,6150.0,6129.0,6103.0,5718.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Profit & Loss Statement

In [8]:
import pandas as pd

db_connect = mysql.connector.connect(host="localhost",user="root",password="prithvi166",
                                     database="stockdata",auth_plugin="mysql_native_password")

cur1=db_connect.cursor()

cur1.execute("SELECT * FROM profit_loss_statement ")

pls= cur1.fetchall()
df=pd.DataFrame(pls)
df

,0,1,2,3,4,5,6,7,8,9,...,46,47,48,49,50,51,52,53,54,55
0,Sales +,1338,1638,1557,1967,1938,2006,2446,3821,3937,...,None,None,None,None,None,None,None,None,None,None
1,Expenses +,1144,1435,1358,1717,1697,1764,2153,3305,3352,...,None,None,None,None,None,None,None,None,None,None
2,Operating Profit,193,202,198,250,241,243,293,515,586,...,None,None,None,None,None,None,None,None,None,None
3,OPM %,14%,12%,13%,13%,12%,12%,12%,13%,15%,...,None,None,None,None,None,None,None,None,None,None
4,Other Income +,28,43,32,58,96,72,98,69,145,...,None,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
163591,Profit before tax,-59,81,265,168,282,438,392,547,421,...,None,None,None,None,None,None,None,None,None,None
163592,Tax %,26%,39%,26%,30%,14%,23%,32%,32%,19%,...,None,None,None,None,None,None,None,None,None,None
163593,Net Profit +,-44,49,197,118,242,337,266,371,342,...,None,None,None,None,None,None,None,None,None,None
163594,EPS in Rs,-0.14,0.16,0.63,0.23,0.48,0.66,0.52,0.73,0.67,...,None,None,None,None,None,None,None,None,None,None
163595,Dividend Payout %,0%,0%,5%,26%,19%,23%,29%,41%,54%,...,None,None,None,None,None,None,None,None,None,None

# Cash flow Statement

In [9]:
import pandas as pd

db_connect = mysql.connector.connect(host="localhost",user="root",password="prithvi166",
                                     database="stockdata",auth_plugin="mysql_native_password")

cur1=db_connect.cursor()

cur1.execute("SELECT * FROM cash_flow_statement ")

cash= cur1.fetchall()
df=pd.DataFrame(cash)
df

,0,1,2,3,4,5,6,7,8,9,...,45,46,47,48,49,50,51,52,53,54
0,Cash from Operating Activity +,256.0,427.0,338.0,-75.0,-350.0,442.0,498.0,8.0,741.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Cash from Investing Activity +,-187.0,-324.0,-234.0,-91.0,-15.0,-146.0,-334.0,-552.0,-57.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Cash from Financing Activity +,-88.0,-108.0,-103.0,162.0,388.0,-184.0,-18.0,473.0,-448.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Net Cash Flow,-20.0,-5.0,1.0,-4.0,23.0,112.0,146.0,-71.0,237.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Cash from Operating Activity +,-5.0,-1.0,1.0,4.0,6.0,25.0,30.0,-49.0,26.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54527,Net Cash Flow,-1.0,5.0,17.0,-61.0,55.0,-84.0,45.0,-69.0,-20.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54528,Cash from Operating Activity +,416.0,380.0,747.0,544.0,533.0,1000.0,476.0,653.0,1209.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54529,Cash from Investing Activity +,-615.0,-100.0,-174.0,-114.0,-1199.0,-168.0,-188.0,-42.0,-34.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54530,Cash from Financing Activity +,211.0,-285.0,-574.0,-432.0,667.0,-808.0,-268.0,-650.0,-867.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54531,Net Cash Flow,12.0,-5.0,-1.0,-2.0,1.0,23.0,20.0,-38.0,309.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
url = "https://www.screener.in/company/HDFCBANK/consolidated/"
    
headers = {
        'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/115.0.0.0 Safari/537.36',
        'Accept-Language':'en-US'
    }    

    
    
response = requests.get(url,headers= headers)
soup = BeautifulSoup(response.text,'lxml')
table= soup.find('table', class_="data-table responsive-text-nowrap")
head= table.find_all("th")
body= table.find_all("tr")



column=[]
for i in head:
    title=i.text
    column.append(title)
df=pd.DataFrame(columns=column)
for i in body[1:]:
    data=i.find_all("td")
    r=[tr.text for tr in data]
    df.loc[len(df)]=r

df

In [ ]:
directory= 'C:\\Users\\User\OneDrive\\Documents\\screener_data\\'
# Create a new DataFrame to store all the data

for row in stock_list:
    b=os.path.join(directory, row)+".xlsx"
    
    for stock in stock_list:
        url = 'https://www.screener.in/company/'+stock
        table=pd.read_html(url,index_col=False)

        balance_sheet=table[6]
        profit_loss=table[1]
        cash_flow=table[7]
        time.sleep(5)
        with pd.ExcelWriter(b) as writer:
            balance_sheet.to_excel(writer,sheet_name="Balance_sheet")
            profit_loss.to_excel(writer,sheet_name="Profit_Loss_Statement")
            cash_flow.to_excel(writer,sheet_name="Cash_flow_Statement")