In [1]:
from bs4 import BeautifulSoup
import pandas as pd
import requests
import re
import time
from openpyxl import load_workbook
import os
import xlwings
import xlsxwriter

In [2]:
# 'BIKAJI','MPHASIS','LUXIND','TRIVENI','DWARKESH','FEDERALBNK','EVEREADY', 'MRF','CERA',

In [3]:
sl=['BIKAJI','MPHASIS','LUXIND', 'TRIVENI','DWARKESH','FEDERALBNK',
    'EVEREADY','MRF','CERA','BAJAJHIND','DRREDDY','ESCORTS']
len(sl)

12

In [4]:
stock_list=['ASHOKA', 'BORORENEW', 'IRB', 'JSWENERGY', 'NBCC', 'GSFC', 'GMDCLTD', 'LANDMARK', 'SEQUENT', 'PATANJALI', 'NAM-INDIA', 'NYKAA', 'EASEMYTRIP', 'JTEKTINDIA', 'JCHAC', 'SUPRAJIT', 'LATENTVIEW', 'ICIL', 'ISGEC', 'ALOKINDS', 'SIEMENS', 'PRICOLLTD', 'ACLGATI', 'DLF', 'CAPLIPOINT', 'BAYERCROP', 'DIVGIITTS', 'SURYAROSNI', 'POONAWALLA', 'MOTILALOFS', 'AHLUCONT', 'NATIONALUM', 'DCAL', 'COCHINSHIP', 'MFSL', 'GODREJPROP', 'ABB', 'JTLIND', 'CHOICEIN', 'AVALON', 'GNFC', 'MINDACORP', 'TI', 'THOMASCOOK', 'NFL', 'SCI', 'JINDALSAW', 'GREENPLY', 'SSWL', 'APOLLOTYRE', 'MSTCLTD', 'SOLARINDS', 'OBEROIRLTY', 'HEROMOTOCO', 'TIPSINDLTD', 'ETHOSLTD', 'CARERATING', 'ADANIPORTS', 'BLS', 'CHALET', 'AMBER', 'KAYNES', 'FINOPB', 'RCF', 'MANKIND', 'KALYANKJIL', 'INFIBEAM', 'MAPMYINDIA', 'CESC', 'SUNTECK', 'PCBL', 'PHOENIXLTD', 'LLOYDSENGG', 'BALKRISIND', 'CENTURYTEX', 'TRENT', 'STAR', 'ABBOTINDIA', 'ACCELYA', 'GRINFRA', 'GRANULES', 'MHRIL', 'HINDPETRO', 'SBILIFE', 'UTIAMC', 'EPIGRAL', 'STYLAMIND', 'KIRLOSBROS', 'HEMIPROP', 'INDIGO', 'UJJIVAN', 'GET&D', 'ROLEXRINGS', 'INTELLECT', 'VBL', 'MANINFRA', 'APOLLOHOSP', 'TRIDENT', 'ADANIENT', 'BRIGADE', 'LEMONTREE', 'BLUESTARCO', 'AEGISCHEM', 'PARADEEP', 'MAXHEALTH', 'ECLERX', 'APOLLOPIPE', 'HCC', 'ARVIND', 'BIRLACORPN', 'WONDERLA', 'ADANIENSOL', 'GPIL', 'LTTS', 'JSL', 'CEATLTD', 'GANESHHOUC', 'PRUDENT', 'BCG', 'VTL', 'GLS', 'MAYURUNIQ', 'BAJAJ-AUTO', 'SUZLON', 'RVNL', 'DBREALTY', 'OLECTRA', 'KTKBANK', 'PETRONET', 'LT', 'WOCKPHARMA', 'APLAPOLLO', 'EIHOTEL', 'HDFCAMC', 'JINDALSTEL', 'CONCOR', 'POLICYBZR', 'TATAMTRDVR', 'CENTURYPLY', 'MOLDTKPAC', 'AARTIDRUGS', 'BOSCHLTD', 'EQUITASBNK', 'DBL', 'CIPLA', 'SCHAEFFLER', 'TDPOWERSYS', 'BHARATFORG', 'TATAMOTORS', 'IPCALAB', 'SUNPHARMA', 'CHEMPLASTS', 'PSPPROJECT', 'NAUKRI', 'HCLTECH', 'BHARTIARTL', 'ITI', 'NEOGEN', 'FSL', 'TINPLATE', 'GLENMARK', 'INDHOTEL', 'TATASTEEL', 'BEPL', 'RAINBOW', 'LAURUSLABS', 'DCXINDIA', 'CUMMINSIND', 'BSOFT', 'MARICO', 'FIVESTAR', 'ELECON', 'LTIM', 'LICI', 'COALINDIA', 'IEX', 'JUBLPHARMA', 'BDL', 'DIVISLAB', 'JKIL', 'SHYAMMETL', 'DOLLAR', 'EIDPARRY', 'BERGEPAINT', 'HEIDELBERG', 'MOTHERSON', 'TITAGARH', 'QUESS', 'PRESTIGE', 'CONCORDBIO', 'VSTTILLERS', 'HONAUT', 'CIEINDIA', 'SOMANYCERA', 'NH', 'TTKPRESTIG', 'AUTOAXLES', 'GUJGASLTD', 'GODFRYPHLP', 'RADICO', 'BSE', 'VIJAYA', 'GHCL', 'GALAXYSURF', 'EXIDEIND', 'FUSION', 'GRINDWELL', 'FIEMIND', 'JKPAPER', 'KIMS', 'JISLJALEQS', 'LUPIN', 'BALRAMCHIN', 'RUPA', 'SUVENPHAR', 'POWERINDIA', 'NMDC', 'CREDITACC', 'CARBORUNIV', 'IGL', 'RAJESHEXPO', 'LAOPALA', 'PIIND', 'NTPC', 'VOLTAMP', 'HUDCO', 'MOL', 'SYNGENE', 'TATACOMM', 'BPCL', 'SONATSOFTW', 'JBCHEPHARM', 'NCC', 'CCL', 'M&M', 'MARUTI', 'JKTYRE', 'KOLTEPATIL', 'PNCINFRA', 'DODLA', 'RAJRATAN', 'ASTRAL', 'EPL', 'JAICORPLTD', 'TIRUMALCHM', 'IRCON', 'TEGA', 'KPITTECH', 'TECHM', 'PTC', 'JBMA', 'TORNTPHARM', 'BEL', 'GLAND', 'ZOMATO', 'SULA', 'FINCABLES', 'INGERRAND', 'ANANDRATHI', 'SWSOLAR', 'POWERMECH', 'AARTIIND', 'SUNFLAG', 'RAMKY', 'HAL', 'IIFL', 'INDIACEM', 'KPRMILL', 'RITES', 'ANANTRAJ', 'OIL', 'SHARDACROP', 'KFINTECH', 'ARVINDFASN', 'HINDCOPPER', 'SUNDRMFAST', 'UNOMINDA', 'NRBBEARING', 'KIRLOSENG', 'BBTC', 'PAISALO', 'HGS', 'FACT', 'TECHNOE', 'VEDL', 'PIDILITIND', 'MAZDOCK', 'ZFCVINDIA', 'TATACHEM', 'TMB', 'TATAPOWER', 'BANDHANBNK', 'DEVYANI', 'TCS', 'INFY', 'TANLA', 'TIINDIA', '3MINDIA', 'LODHA', 'DEEPAKNTR', 'WHIRLPOOL', 'RAILTEL', 'NESCO', 'TATAMETALI', 'BAJAJCON', 'WELSPUNLIV', 'MOIL', 'J&KBANK', 'AUROPHARMA', 'TATAELXSI', 'SAKSOFT', 'DIXON', 'GSPL', 'HOMEFIRST', 'NATCOPHARM', 'GMMPFAUDLR', 'HARSHA', 'RKFORGE', 'HERITGFOOD', 'CARYSIL', 'MSUMI', 'COSMOFIRST', 'FINEORG', 'DMART', 'SHAREINDIA', 'JKCEMENT', 'GAIL', 'CHENNPETRO', 'HAPPSTMNDS', 'BHEL', 'AAVAS', 'ASTRAMICRO', 'IFBIND', 'VRLLOG', 'GUJALKALI', 'TATACONSUM', 'STARCEMENT', 'VINATIORGA', 'IKIO', 'IRCTC', 'SYRMA', 'GATEWAY', 'ASTERDM', 'ICICIGI', '360ONE', 'CROMPTON', 'SBCL', 'AWL', 'RATNAMANI', 'LGBBROSLTD', 'KKCL', 'HGINFRA', 'UJJIVANSFB', 'ISEC', 'WIPRO', 'BANKINDIA', 'CANFINHOME', 'JUBLINGREA', 'AARTIPHARM', 'EMIL', 'ADANIGREEN', 'PERSISTENT', 'KAJARIACER', 'UFLEX', 'VOLTAS', 'HSCL', 'KRBL', 'PGEL', 'JUSTDIAL', 'PRSMJOHNSN', 'SOUTHBANK', 'ZYDUSLIFE', 'GRAPHITE', 'GABRIEL', 'INDIAGLYCO', 'UNIPARTS', 'SOBHA', 'COFORGE', 'CHOLAFIN', 'CHAMBLFERT', 'BIOCON', 'LICHSGFIN', 'OPTIEMUS', 'JYOTHYLAB', 'CAMS', 'UNIONBANK', 'HAVELLS', 'WSTCSTPAPR', 'SPARC', 'MRPL', 'INDIGOPNTS', 'ITDCEM', 'CYIENT', 'KANSAINER', 'TIDEWATER', 'CGPOWER', 'MAHLOG', 'PGHL', 'HINDUNILVR', 'ROUTE', 'STARHEALTH', 'GREENLAM', 'PNBHOUSING', 'IRFC', 'VESUVIUS', 'BALMLAWRIE', 'SHOPERSTOP', 'MASTEK', 'POWERGRID', 'AIAENG', 'ABCAPITAL', 'LINDEINDIA', 'CANBK', 'IBREALEST', 'JMFINANCIL', 'CONFIPET', 'AETHER', 'SAREGAMA', 'SONACOMS', 'BAJAJHLDNG', 'ATGL', 'TORNTPOWER', 'SUPRIYA', 'AGI', 'RAYMOND', 'SAIL', 'BEML', 'HINDWAREAP', 'ELGIEQUIP', 'BANKBARODA', 'NHPC', 'METROPOLIS', 'IDBI', 'ERIS', 'CDSL', 'KIRIINDUS', 'LXCHEM', 'RENUKA', 'GRASIM', 'IOLCP', 'EDELWEISS', 'INDUSINDBK', 'JSWSTEEL', 'KOTAKBANK', 'SIYSIL', 'FDC', 'DALMIASUG', 'MCDOWELL-N', 'SBIN', 'PFIZER', 'RELAXO', 'ANGELONE', 'PPLPHARMA', 'CRISIL', 'APTUS', 'JAMNAAUTO', 'UNICHEMLAB', 'IOC', 'TITAN', 'GPPL', 'SUNTV', 'SPANDANA', 'YESBANK', 'MANYAVAR', 'PNB', 'FINPIPE', 'ADANIPOWER', 'TATAINVEST', 'SCHNEIDER', 'ASTRAZEN', 'SYMPHONY', 'MARKSANS', 'USHAMART', 'UCOBANK', 'VENKEYS', 'SHREECEM', 'NAZARA', 'BAJFINANCE', 'RELIANCE', 'BECTORFOOD', 'KNRCON', 'ITC', 'NOCIL', 'AXISBANK', 'ICICIPRULI', 'SIS', 'ALKEM', 'THERMAX', 'ENGINERSIN', 'HNDFDS', 'GRSE', 'MAHABANK', 'SBFC', 'KSCL', 'SUMICHEM', 'PGHH', 'CHOLAHLDNG', 'ULTRACEMCO', 'EICHERMOT', 'SANOFI', 'HINDALCO', 'PAYTM', 'ADVENZYMES', 'SFL', 'PRIVISCL', 'ROSSARI', 'PEL', 'APCOTEXIND', 'OFSS', 'ICICIBANK', 'MAITHANALL', 'M&MFIN', 'ASHOKLEY', 'SJVN', 'GRAVITA', 'TEAMLEASE', 'ZENTEC', 'THYROCARE', 'CASTROLIND', 'DATAMATICS', 'TIMETECHNO', 'RTNPOWER', 'HINDZINC', 'IOB', 'TIIL', 'CAMLINFINE', 'MTARTECH', 'AMIORG', 'GICRE', 'NSLNISP', 'CUB', 'VARROC', 'MGL', 'KPIL', 'BOMDYEING', 'NUVOCO', 'VMART', 'BARBEQUE', 'HLEGLAS', 'HBLPOWER', 'ONGC', 'DALBHARAT', 'TARSONS', 'UPL', 'SHILPAMED', 'GESHIP', 'KARURVYSYA', 'ACE', 'MAHSEAMLES', 'CMSINFO', 'HIL', 'RATEGAIN', 'DELTACORP', 'ATUL', 'SBICARD', 'SHANTIGEAR', 'STLTECH', 'PRINCEPIPE', 'FORTIS', 'CARTRADE', 'TTML', 'DELHIVERY', 'GREENPANEL', 'ORIENTELEC', 'ALKYLAMINE', 'TEJASNET', 'TCIEXP', 'ABFRL', 'KEC', 'MEDPLUS', 'PARAS', 'GOCOLORS', 'LALPATHLAB', 'SKFINDIA', 'HDFCBANK', 'JINDALPOLY', 'GODREJAGRO', 'PRAJIND', 'LTFOODS', 'BLUEDART', 'VGUARD', 'ASIANPAINT', 'TVSSCS', 'AFFLE', 'NIACL', 'HCG', 'RHIM', 'KIRLPNU', 'REDINGTON', 'JINDWORLD', 'INDIANB', 'CAMPUS', 'FCL', 'TVSMOTOR', 'APLLTD', 'GUFICBIO', 'IDFC', 'CENTRALBK', 'SWANENERGY', 'VIPIND', 'HDFCLIFE', 'DBCORP', 'GREAVESCOT', 'NESTLEIND', 'GLOBUSSPR', 'DATAPATTNS', 'WESTLIFE', 'TIMKEN', 'SAFARI', 'BAJAJFINSV', 'SUBEXLTD', 'TCI', 'DREAMFOLKS', 'ASTEC', 'TCNSBRANDS', 'SPLPETRO', 'DABUR', 'RAMCOCEM', 'POLYMED', 'CIGNITITEC', 'AVANTIFEED', 'NETWORK18', 'SUDARSCHEM', 'AMBUJACEM', 'KRSNAA', 'ORIENTCEM', 'DEN', 'L&TFH', 'IMFA', 'SHRIRAMFIN', 'EMAMILTD', 'DCMSHRIRAM', 'NEWGEN', 'BATAINDIA', 'ESABINDIA', 'CRAFTSMAN', 'MIDHANI', 'MUTHOOTFIN', 'PVRINOX', 'MEDANTA', 'ARE&M', 'LAXMIMACH', 'MAHLIFE', 'BRITANNIA', 'MASFIN', 'GLAXO', 'MANAPPURAM', 'IONEXCHANG', 'WABAG', 'SAPPHIRE', 'NEULANDLAB', 'MMTC', 'RBLBANK', 'NAVNETEDUL', 'GODREJCP', 'IDFCFIRSTB', 'HIKAL', 'RAIN', 'NLCINDIA', 'EMUDHRA', 'INDUSTOWER', 'HEG', 'ASAHIINDIA', 'CLEAN', 'PTCIL', 'AJANTPHARM', 'RELINFRA', 'IFCI', 'STYRENIX', 'RBA', 'SUPREMEIND', 'WELENT', 'ENDURANCE', 'RELIGARE', 'HFCL', 'TRITURBINE', 'BALAMINES', 'SANSERA', 'RECLTD', 'ACI', 'ZYDUSWELL', 'INDOCO', 'GAEL', 'POLYPLEX', 'DEEPAKFERT', 'RPOWER', 'JWL', 'SUNDARMFIN', 'ZENSARTECH', 'NAVA', 'JUBLFOOD', 'RALLIS', 'KSB', 'GOKEX', 'DCBBANK', 'ACC', 'RESPONIND',
            'SARDAEN', 'PDSL', 'GMRINFRA', 'HINDOILEXP', 'COLPAL', 'COROMANDEL', 'VAIBHAVGBL', 'MCX', 'APARINDS', 'TV18BRDCST', 'INDIAMART', 'UBL', 'FLUOROCHEM', 'DHANI', 'TATVA', 'JKLAKSHMI', 'METROBRAND', 'KEI', 'HATHWAY', 'CSBBANK', 'NAVINFLUOR', 'AUBANK', 'PAGEIND', 'PFC', 'JPPOWER', 'ANURAS', 'IBULHSGFIN', 'SRF', 'INOXWIND', 'ELECTCAST', 'RTNINDIA', 'WELCORP', 'GILLETTE', 'GODREJIND', 'CGCL', 'GARFIBRES', 'DISHTV', 
            'IDEA', 'JPASSOCIAT', 'ALLCARGO', 'ZEEL', 'POLYCAB']

len(stock_list)

739

https://www.screener.in/company/compare/00000006/?limit=50&page=1

# SAVING TO THE EXCEL FILE

In [5]:
directory= 'C:\\Users\\User\OneDrive\\Documents\\screener_data\\'

In [8]:
import os
import time
import pandas as pd

#stock_list=['PNB','BANKBARODA','AXISBANK','ICICIBANK','SBIN','IOB',
#'INDUSINDBK','UNIONBANK','CANBK','KOTAKBANK','IDBI']

sl=['BIKAJI','MPHASIS','LUXIND', 'TRIVENI','DWARKESH','FEDERALBNK','EVEREADY','MRF','CERA','BAJAJHIND'
,'DRREDDY', 'ESCORTS']

# Create a new DataFrame to store all the data
balance = pd.DataFrame()
p_l = pd.DataFrame()
cash = pd.DataFrame()
# Create a new Excel workbook
writer = pd.ExcelWriter('C:\\Users\\User\\OneDrive\\Documents\\screener_data\\combined_data.xlsx')

for stock in sl:
    url = 'https://www.screener.in/company/'+stock
    table=pd.read_html(url)
    response = requests.get(url)
    # Parse the HTML content using BeautifulSoup
    soup = BeautifulSoup(response.text, 'html.parser')

    # Find all the divisions items within the company-ratios
    sector_lists = soup.find_all('div', {"class":"flex flex-space-between"})


    balance_sheet=table[6]
    profit_loss=table[1]
    cash_flow=table[7]
    time.sleep(5)

    for i in sector_lists:
        sector=i.find("a").get_text(strip=True)
        industry=i.find("p").get_text(strip=True).split(":")[2]


        # Add a column to identify the data of different companies
        balance_sheet['Company'] = stock
        balance_sheet['Sector']=sector
        balance_sheet['Industry']=industry
        profit_loss['Company'] = stock
        profit_loss['Sector']=sector
        profit_loss['Industry']=industry
        cash_flow['Company'] = stock
        cash_flow['Sector']=sector
        cash_flow['Industry']=industry
        
    balance = pd.concat([balance,balance_sheet],ignore_index=True)
    p_l = pd.concat([p_l,profit_loss], ignore_index=True)
    cash = pd.concat([cash,cash_flow], ignore_index=True)
     # Append the data of each company to the combined DataFrame
    #balance = balance.append(balance_sheet, ignore_index=True)
    #p_l = p_l.append(profit_loss, ignore_index=True)
    #cash = cash.append(cash_flow, ignore_index=True)
    
   
    balance.to_excel(writer, sheet_name='Balance_Sheet')
    p_l.to_excel(writer, sheet_name='Profit_Loss_Statement')
    cash.to_excel(writer, sheet_name='Cash_Flow_Statement')

# Close the Pandas Excel writer and output the Excel file.
writer.close()

# SAVING TO THE SQL FILE

In [8]:
import mysql.connector

# Establish connection to MySQL
conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="prithvi166",
    database="Stockdata",
    auth_plugin="mysql_native_password"
)

In [ ]:
import os
import time
import pandas as pd
from sqlalchemy import create_engine


#stock_list=['PNB','BANKBARODA','AXISBANK','ICICIBANK','SBIN','IOB',
#'INDUSINDBK','UNIONBANK','CANBK','KOTAKBANK','IDBI']

# Create a new SQLite database in memory


engine = create_engine('mysql://root:prithvi166@localhost:3306/stockdata')

# Create a new DataFrame to store all the data
balance = pd.DataFrame()
p_l = pd.DataFrame()
cash = pd.DataFrame()

for stock in stock_list:
    url = 'https://www.screener.in/company/'+stock
    table=pd.read_html(url)
    response = requests.get(url)
    # Parse the HTML content using BeautifulSoup
    soup = BeautifulSoup(response.text, 'html.parser')

    # Find all the divisions items within the company-ratios
    sector_lists = soup.find_all('div', {"class":"flex flex-space-between"})


    balance_sheet=table[6]
    profit_loss=table[1]
    cash_flow=table[7]
    time.sleep(5)

    for i in sector_lists:
        sector=i.find("a").get_text(strip=True)
        industry=i.find("p").get_text(strip=True).split(":")[2]


        # Add a column to identify the data of different companies
        balance_sheet['Company'] = stock
        balance_sheet['Sector']=sector
        balance_sheet['Industry']=industry
        profit_loss['Company'] = stock
        profit_loss['Sector']=sector
        profit_loss['Industry']=industry
        cash_flow['Company'] = stock
        cash_flow['Sector']=sector
        cash_flow['Industry']=industry
        
        
        balance = pd.concat([balance,balance_sheet],ignore_index=True)
        p_l = pd.concat([p_l,profit_loss], ignore_index=True)
        cash = pd.concat([cash,cash_flow], ignore_index=True)
     # Append the data of each company to the combined DataFrame
    #balance = balance.append(balance_sheet, ignore_index=True)
    #p_l = p_l.append(profit_loss, ignore_index=True)
    #cash = cash.append(cash_flow, ignore_index=True)
    
        # Save the DataFrame as a table in the SQLite database
        balance.to_sql('balance_sheet', con=engine, if_exists='append', index=False)
        p_l.to_sql('profit_loss_statement', con=engine, if_exists='append', index=False)
        cash.to_sql('cash_flow_statement', con=engine, if_exists='append', index=False)

# OVERVIEW OF IMPORTED DATA FROM MYSQL

In [12]:
import mysql.connector

db_connect = mysql.connector.connect(host="localhost",user="root",password="prithvi166",
                                     database="stockdata",auth_plugin="mysql_native_password")

cur=db_connect.cursor()
cur.execute("Show tables;")
myresult = cur.fetchall()
 
for x in myresult:
    print(x)

('balance_sheet',)
('cash_flow_statement',)
('profit_loss_statement',)

# Balance Sheet

In [14]:
import pandas as pd

db_connect = mysql.connector.connect(host="localhost",user="root",password="prithvi166",
                                     database="stockdata",auth_plugin="mysql_native_password")

cur1=db_connect.cursor()

cur1.execute("SELECT * FROM balance_sheet ")

balance_sheet= cur1.fetchall()
df=pd.DataFrame(balance_sheet,columns={'0': 'Unnamed: 0', '1': 'Mar-12', '2': 'Mar-13', '3': 'Mar-14', '4': 'Mar-15', '5': 'Mar-16', '6': 'Mar-17', '7': 'Mar-18', '8': 'Mar-19', '9': 'Mar-20', '10': 'Mar-21', '11': 'Mar-22', '12': 'Mar-23', '13': 'Sep-23', '14': 'Company', '15': 'Sector', '16': 'Industry', '17': 'Sep-12', '18': 'Sep-13', '19': 'Mar-11', '20': 'Sep-14', '21': 'Sep-15', '22': 'Sep-16', '23': 'Sep-17', '24': 'Sep-18', '25': 'Sep-19', '26': 'Sep-20', '27': 'Sep-21', '28': 'Sep-22', '29': 'Jun-12', '30': 'Jun-13', '31': 'Jun-14', '32': 'Jun-15', '33': 'Dec-12', '34': 'Dec-13', '35': 'Dec-14', '36': 'Dec-15', '37': 'Dec-16', '38': 'Dec-17', '39': 'Dec-18', '40': 'Dec-19', '41': 'Dec-20', '42': 'Dec-21', '43': 'Dec-22', '44': 'Dec-23', '45': 'Dec-11', '46': 'Jun-16', '47': 'Jun-17', '48': 'Jun-18', '49': 'Jun-19', '50': 'Jun-20', '51': 'Jun-21', '52': 'Jun-22',
                                       '53': 'Jun-23', '54': 'Mar-10'})

df.rename(columns={'0': 'Unnamed: 0', '1': 'Mar-12', '2': 'Mar-13', '3': 'Mar-14', '4': 'Mar-15', '5': 'Mar-16', '6': 'Mar-17', '7': 'Mar-18', '8': 'Mar-19', '9': 'Mar-20', '10': 'Mar-21', '11': 'Mar-22', '12': 'Mar-23', '13': 'Sep-23', '14': 'Company', '15': 'Sector', '16': 'Industry', '17': 'Sep-12', '18': 'Sep-13', '19': 'Mar-11', '20': 'Sep-14', '21': 'Sep-15', '22': 'Sep-16', '23': 'Sep-17', '24': 'Sep-18', '25': 'Sep-19', '26': 'Sep-20', '27': 'Sep-21', '28': 'Sep-22', '29': 'Jun-12', '30': 'Jun-13', '31': 'Jun-14', '32': 'Jun-15', '33': 'Dec-12', '34': 'Dec-13', '35': 'Dec-14', '36': 'Dec-15', '37': 'Dec-16', '38': 'Dec-17', '39': 'Dec-18', '40': 'Dec-19', '41': 'Dec-20', '42': 'Dec-21', '43': 'Dec-22', '44': 'Dec-23', '45': 'Dec-11', '46': 'Jun-16', '47': 'Jun-17', '48': 'Jun-18', '49': 'Jun-19', '50': 'Jun-20', '51': 'Jun-21', '52': 'Jun-22', '53': 'Jun-23'
                   , '54': 'Mar-10'},inplace=True)
l=df.loc[:, :"Industry"]
#l.to_csv(r"C:\Users\User\OneDrive\Documents\screener_data\balance.csv")
l

,Unnamed: 0,Mar-12,Mar-13,Mar-14,Mar-15,Mar-16,Mar-17,Mar-18,Mar-19,Mar-20,Mar-21,Mar-22,Mar-23,Sep-23,Company,Sector,Industry
0,Equity Capital,53.0,53.0,79.0,79.0,94.0,94.0,94.0,140.0,140.0,140.0,140.0,140.0,140.0,ASHOKA,Infrastructure Developers & Operators,Engineering - Turnkey Services
1,Reserves,726.0,801.0,854.0,975.0,1602.0,1629.0,1833.0,2072.0,2459.0,2866.0,2558.0,3229.0,3317.0,ASHOKA,Infrastructure Developers & Operators,Engineering - Turnkey Services
2,Preference Capital,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,ASHOKA,Infrastructure Developers & Operators,Engineering - Turnkey Services
3,Borrowings +,312.0,273.0,224.0,445.0,434.0,200.0,160.0,788.0,447.0,446.0,569.0,1002.0,1308.0,ASHOKA,Infrastructure Developers & Operators,Engineering - Turnkey Services
4,Other Liabilities +,815.0,949.0,1053.0,1167.0,940.0,1527.0,1841.0,2308.0,2266.0,2049.0,2099.0,2828.0,2963.0,ASHOKA,Infrastructure Developers & Operators,Engineering - Turnkey Services
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
443801,Fixed Assets +,NaN,NaN,693.0,822.0,984.0,1113.0,1180.0,1255.0,1395.0,1581.0,1619.0,2012.0,2046.0,POLYCAB,Cables,Cables - Power
443802,CWIP,NaN,NaN,113.0,179.0,132.0,165.0,135.0,186.0,241.0,98.0,374.0,249.0,355.0,POLYCAB,Cables,Cables - Power
443803,Investments,NaN,NaN,13.0,2.0,4.0,37.0,39.0,43.0,86.0,697.0,813.0,1400.0,1310.0,POLYCAB,Cables,Cables - Power
443804,Other Assets +,NaN,NaN,1753.0,2322.0,2758.0,3246.0,3070.0,4112.0,4206.0,4351.0,4500.0,5575.0,5932.0,POLYCAB,Cables,Cables - Power
443805,Total Assets,NaN,NaN,2572.0,3325.0,3878.0,4561.0,4424.0,5595.0,5928.0,6727.0,7307.0,9235.0,9642.0,POLYCAB,Cables,Cables - Power

# Profit & Loss Statement

In [15]:
import pandas as pd

db_connect = mysql.connector.connect(host="localhost",user="root",password="prithvi166",
                                     database="stockdata",auth_plugin="mysql_native_password")

cur1=db_connect.cursor()

cur1.execute("SELECT * FROM profit_loss_statement ")

pls= cur1.fetchall()
df=pd.DataFrame(pls, columns={0: 'Unnamed: 0', 1: 'Mar-12', 2: 'Mar-13', 3: 'Mar-14', 4: 'Mar-15', 5: 'Mar-16', 6: 'Mar-17', 7: 'Mar-18', 8: 'Mar-19', 9: 'Mar-20', 10: 'Mar-21', 11: 'Mar-22', 12: 'Mar-23', 13: 'TTM', 14: 'Company', 15: 'Sector', 16: 'Industry', 17: 'Sep-12', 18: 'Sep-13', 19: 'Mar-11', 20: 'Sep-14', 21: 'Sep-15', 22: 'Sep-16', 23: 'Sep-17', 24: 'Sep-18', 25: 'Sep-19', 26: 'Sep-20', 27: 'Sep-21', 28: 'Sep-22', 29: 'Sep-23', 30: 'Jun-12', 31: 'Jun-13', 32: 'Jun-14', 33: 'Jun-15', 34: 'Dec-12', 35: 'Dec-13', 36: 'Dec-14', 37: 'Dec-15', 38: 'Dec-16', 39: 'Dec-17', 40: 'Dec-18', 41: 'Dec-19', 42: 'Dec-20', 43: 'Dec-21', 44: 'Dec-22', 45: 'Dec-23', 46: 'Dec-11', 47: 'Jun-16', 48: 'Jun-17', 49: 'Jun-18', 50: 'Jun-19', 51: 'Jun-20', 52: 'Jun-21', 53: 'Jun-22', 
                              54: 'Jun-23', 55: 'Mar-10'})
df.rename(columns={0: 'Unnamed: 0', 1: 'Mar-12', 2: 'Mar-13', 3: 'Mar-14', 4: 'Mar-15', 5: 'Mar-16', 6: 'Mar-17', 7: 'Mar-18', 8: 'Mar-19', 9: 'Mar-20', 10: 'Mar-21', 11: 'Mar-22', 12: 'Mar-23', 13: 'TTM', 14: 'Company', 15: 'Sector', 16: 'Industry', 17: 'Sep-12', 18: 'Sep-13', 19: 'Mar-11', 20: 'Sep-14', 21: 'Sep-15', 22: 'Sep-16', 23: 'Sep-17', 24: 'Sep-18', 25: 'Sep-19', 26: 'Sep-20', 27: 'Sep-21', 28: 'Sep-22', 29: 'Sep-23', 30: 'Jun-12', 31: 'Jun-13', 32: 'Jun-14', 33: 'Jun-15', 34: 'Dec-12', 35: 'Dec-13', 36: 'Dec-14', 37: 'Dec-15', 38: 'Dec-16', 39: 'Dec-17', 40: 'Dec-18', 41: 'Dec-19', 42: 'Dec-20', 43: 'Dec-21', 44: 'Dec-22', 45: 'Dec-23', 46: 'Dec-11', 47: 'Jun-16', 48: 'Jun-17', 49: 'Jun-18', 50: 'Jun-19', 51: 'Jun-20', 52: 'Jun-21', 53: 'Jun-22', 54: 'Jun-23',
                   55: 'Mar-10'},inplace=True)
l=df.loc[:,:"Industry"]
#l.to_csv(r"C:\Users\User\OneDrive\Documents\screener_data\profit_loss.csv")
l

,Unnamed: 0,Mar-12,Mar-13,Mar-14,Mar-15,Mar-16,Mar-17,Mar-18,Mar-19,Mar-20,Mar-21,Mar-22,Mar-23,TTM,Company,Sector,Industry
0,Sales +,1338,1638,1557,1967,1938,2006,2446,3821,3937,3818,4645,6372,7270,ASHOKA,Infrastructure Developers & Operators,Engineering - Turnkey Services
1,Expenses +,1144,1435,1358,1717,1697,1764,2153,3305,3352,3297,4089,5839,6730,ASHOKA,Infrastructure Developers & Operators,Engineering - Turnkey Services
2,Operating Profit,193,202,198,250,241,243,293,515,586,520,556,534,541,ASHOKA,Infrastructure Developers & Operators,Engineering - Turnkey Services
3,OPM %,14%,12%,13%,13%,12%,12%,12%,13%,15%,14%,12%,8%,7%,ASHOKA,Infrastructure Developers & Operators,Engineering - Turnkey Services
4,Other Income +,28,43,32,58,96,72,98,69,145,191,-624,455,456,ASHOKA,Infrastructure Developers & Operators,Engineering - Turnkey Services
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
522895,Profit before tax,None,None,133,234,267,360,567,757,1003,995,1225,1689,2292,POLYCAB,Cables,Cables - Power
522896,Tax %,None,None,36%,33%,30%,35%,37%,34%,24%,16%,24%,25%,None,POLYCAB,Cables,Cables - Power
522897,Net Profit +,None,None,85,157,186,232,358,501,761,831,931,1272,1744,POLYCAB,Cables,Cables - Power
522898,EPS in Rs,None,None,12.10,11.13,13.21,16.45,25.38,35.51,51.10,55.75,62.32,84.91,116.32,POLYCAB,Cables,Cables - Power
522899,Dividend Payout %,None,None,8%,9%,13%,6%,4%,8%,14%,18%,22%,24%,None,POLYCAB,Cables,Cables - Power

# Cash flow Statement

In [16]:
import pandas as pd

db_connect = mysql.connector.connect(host="localhost",user="root",password="prithvi166",
                                     database="stockdata",auth_plugin="mysql_native_password")

cur1=db_connect.cursor()

cur1.execute("SELECT * FROM cash_flow_statement ")

cash= cur1.fetchall()
df=pd.DataFrame(cash, columns={0: 'Unnamed: 0', 1: 'Mar-12', 2: 'Mar-13', 3: 'Mar-14', 4: 'Mar-15', 5: 'Mar-16', 6: 'Mar-17', 7: 'Mar-18', 8: 'Mar-19', 9: 'Mar-20', 10: 'Mar-21', 11: 'Mar-22', 12: 'Mar-23', 13: 'Company', 14: 'Sector', 15: 'Industry',  16: 'Sep-23',17: 'Sep-12', 18: 'Sep-13', 19: 'Mar-11', 20: 'Sep-14', 21: 'Sep-15', 22: 'Sep-16', 23: 'Sep-17', 24: 'Sep-18', 25: 'Sep-19', 26: 'Sep-20', 27: 'Sep-21', 28: 'Sep-22', 29: 'Jun-12', 30: 'Jun-13', 31: 'Jun-14', 32: 'Jun-15', 33: 'Dec-12', 34: 'Dec-13', 35: 'Dec-14', 36: 'Dec-15', 37: 'Dec-16', 38: 'Dec-17', 39: 'Dec-18', 40: 'Dec-19', 41: 'Dec-20', 42: 'Dec-21', 43: 'Dec-22', 44: 'Dec-23', 45: 'Dec-11', 46: 'Jun-16', 47: 'Jun-17', 48: 'Jun-18', 49: 'Jun-19', 50: 'Jun-20', 51: 'Jun-21', 52: 'Jun-22', 53: 'Jun-23', 54: 'Mar-10'})
df.rename(columns= {0: 'Unnamed: 0', 1: 'Mar-12', 2: 'Mar-13', 3: 'Mar-14', 4: 'Mar-15', 5: 'Mar-16', 6: 'Mar-17', 7: 'Mar-18', 8: 'Mar-19', 9: 'Mar-20', 10: 'Mar-21', 11: 'Mar-22', 12: 'Mar-23',  13: 'Company', 14: 'Sector', 15: 'Industry', 17: 'Sep-12',16: 'Sep-23', 18: 'Sep-13', 19: 'Mar-11', 20: 'Sep-14', 21: 'Sep-15', 22: 'Sep-16', 23: 'Sep-17', 24: 'Sep-18', 25: 'Sep-19', 26: 'Sep-20', 27: 'Sep-21', 28: 'Sep-22', 29: 'Jun-12', 30: 'Jun-13', 31: 'Jun-14', 32: 'Jun-15', 33: 'Dec-12', 34: 'Dec-13', 35: 'Dec-14', 36: 'Dec-15', 37: 'Dec-16', 38: 'Dec-17', 39: 'Dec-18', 40: 'Dec-19', 41: 'Dec-20', 42: 'Dec-21', 43: 'Dec-22', 44: 'Dec-23', 45: 'Dec-11', 46: 'Jun-16', 47: 'Jun-17', 48: 'Jun-18', 49: 'Jun-19', 50: 'Jun-20', 51: 'Jun-21', 52: 'Jun-22', 53: 'Jun-23',
                    54: 'Mar-10'},inplace=True)


l=df.loc[:, :"Industry"]
#l.to_csv(r"C:\Users\User\OneDrive\Documents\screener_data\cash.csv")
l

,Unnamed: 0,Mar-12,Mar-13,Mar-14,Mar-15,Mar-16,Mar-17,Mar-18,Mar-19,Mar-20,Mar-21,Mar-22,Mar-23,Company,Sector,Industry
0,Cash from Operating Activity +,256.0,427.0,338.0,-75.0,-350.0,442.0,498.0,8.0,741.0,131.0,161.0,73.0,ASHOKA,Infrastructure Developers & Operators,Engineering - Turnkey Services
1,Cash from Investing Activity +,-187.0,-324.0,-234.0,-91.0,-15.0,-146.0,-334.0,-552.0,-57.0,-206.0,-252.0,-391.0,ASHOKA,Infrastructure Developers & Operators,Engineering - Turnkey Services
2,Cash from Financing Activity +,-88.0,-108.0,-103.0,162.0,388.0,-184.0,-18.0,473.0,-448.0,-74.0,25.0,336.0,ASHOKA,Infrastructure Developers & Operators,Engineering - Turnkey Services
3,Net Cash Flow,-20.0,-5.0,1.0,-4.0,23.0,112.0,146.0,-71.0,237.0,-149.0,-65.0,18.0,ASHOKA,Infrastructure Developers & Operators,Engineering - Turnkey Services
4,Cash from Operating Activity +,-5.0,-1.0,1.0,4.0,6.0,25.0,30.0,-49.0,26.0,161.0,173.0,26.0,BORORENEW,Glass & Glass Products,Glass & Glass Products
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
174295,Net Cash Flow,-78.0,164.0,-74.0,138.0,182.0,172.0,47.0,358.0,-476.0,198.0,44.0,-207.0,ZEEL,Entertainment,Entertainment / Electronic Media Software
174296,Cash from Operating Activity +,NaN,NaN,NaN,207.0,221.0,283.0,352.0,1224.0,234.0,1175.0,461.0,1447.0,POLYCAB,Cables,Cables - Power
174297,Cash from Investing Activity +,NaN,NaN,NaN,-176.0,-251.0,-269.0,-178.0,-396.0,-257.0,-1038.0,-360.0,-1182.0,POLYCAB,Cables,Cables - Power
174298,Cash from Financing Activity +,NaN,NaN,NaN,-37.0,41.0,-19.0,-189.0,-657.0,16.0,-110.0,-185.0,-257.0,POLYCAB,Cables,Cables - Power
174299,Net Cash Flow,NaN,NaN,NaN,-6.0,10.0,-5.0,-15.0,171.0,-8.0,27.0,-84.0,8.0,POLYCAB,Cables,Cables - Power

In [ ]:
url = "https://www.screener.in/company/HDFCBANK/consolidated/"
    
headers = {
        'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/115.0.0.0 Safari/537.36',
        'Accept-Language':'en-US'
    }    

    
    
response = requests.get(url,headers= headers)
soup = BeautifulSoup(response.text,'lxml')
table= soup.find('table', class_="data-table responsive-text-nowrap")
head= table.find_all("th")
body= table.find_all("tr")



column=[]
for i in head:
    title=i.text
    column.append(title)
df=pd.DataFrame(columns=column)
for i in body[1:]:
    data=i.find_all("td")
    r=[tr.text for tr in data]
    df.loc[len(df)]=r

df

In [ ]:
directory= 'C:\\Users\\User\OneDrive\\Documents\\screener_data\\'
# Create a new DataFrame to store all the data

for row in stock_list:
    b=os.path.join(directory, row)+".xlsx"
    
    for stock in stock_list:
        url = 'https://www.screener.in/company/'+stock
        table=pd.read_html(url,index_col=False)

        balance_sheet=table[6]
        profit_loss=table[1]
        cash_flow=table[7]
        time.sleep(5)
        with pd.ExcelWriter(b) as writer:
            balance_sheet.to_excel(writer,sheet_name="Balance_sheet")
            profit_loss.to_excel(writer,sheet_name="Profit_Loss_Statement")
            cash_flow.to_excel(writer,sheet_name="Cash_flow_Statement")