In [40]:
from bs4 import BeautifulSoup
import pandas as pd
import requests
import re
import time
from openpyxl import load_workbook
import os
import xlwings
import xlsxwriter

In [2]:
# 'BIKAJI','MPHASIS','LUXIND','TRIVENI','DWARKESH','FEDERALBNK','EVEREADY', 'MRF','CERA',

In [141]:
sl=['BIKAJI','MPHASIS','LUXIND', 'TRIVENI','DWARKESH','FEDERALBNK',
    'EVEREADY','MRF','CERA','BAJAJHIND','DRREDDY','ESCORTS']
len(sl)

12

In [139]:
stock_list=['ASHOKA', 'BORORENEW', 'IRB', 'JSWENERGY', 'NBCC', 'GSFC', 'GMDCLTD', 'LANDMARK', 'SEQUENT', 'PATANJALI', 'NAM-INDIA', 'NYKAA', 'EASEMYTRIP', 'JTEKTINDIA', 'JCHAC', 'SUPRAJIT', 'LATENTVIEW', 'ICIL', 'ISGEC', 'ALOKINDS', 'SIEMENS', 'PRICOLLTD', 'ACLGATI', 'DLF', 'CAPLIPOINT', 'BAYERCROP', 'DIVGIITTS', 'SURYAROSNI', 'POONAWALLA', 'MOTILALOFS', 'AHLUCONT', 'NATIONALUM', 'DCAL', 'COCHINSHIP', 'MFSL', 'GODREJPROP', 'ABB', 'JTLIND', 'CHOICEIN', 'AVALON', 'GNFC', 'MINDACORP', 'TI', 'THOMASCOOK', 'NFL', 'SCI', 'JINDALSAW', 'GREENPLY', 'SSWL', 'APOLLOTYRE', 'MSTCLTD', 'SOLARINDS', 'OBEROIRLTY', 'HEROMOTOCO', 'TIPSINDLTD', 'ETHOSLTD', 'CARERATING', 'ADANIPORTS', 'BLS', 'CHALET', 'AMBER', 'KAYNES', 'FINOPB', 'RCF', 'MANKIND', 'KALYANKJIL', 'INFIBEAM', 'MAPMYINDIA', 'CESC', 'SUNTECK', 'PCBL', 'PHOENIXLTD', 'LLOYDSENGG', 'BALKRISIND', 'CENTURYTEX', 'TRENT', 'STAR', 'ABBOTINDIA', 'ACCELYA', 'GRINFRA', 'GRANULES', 'MHRIL', 'HINDPETRO', 'SBILIFE', 'UTIAMC', 'EPIGRAL', 'STYLAMIND', 'KIRLOSBROS', 'HEMIPROP', 'INDIGO', 'UJJIVAN', 'GET&D', 'ROLEXRINGS', 'INTELLECT', 'VBL', 'MANINFRA', 'APOLLOHOSP', 'TRIDENT', 'ADANIENT', 'BRIGADE', 'LEMONTREE', 'BLUESTARCO', 'AEGISCHEM', 'PARADEEP', 'MAXHEALTH', 'ECLERX', 'APOLLOPIPE', 'HCC', 'ARVIND', 'BIRLACORPN', 'WONDERLA', 'ADANIENSOL', 'GPIL', 'LTTS', 'JSL', 'CEATLTD', 'GANESHHOUC', 'PRUDENT', 'BCG', 'VTL', 'GLS', 'MAYURUNIQ', 'BAJAJ-AUTO', 'SUZLON', 'RVNL', 'DBREALTY', 'OLECTRA', 'KTKBANK', 'PETRONET', 'LT', 'WOCKPHARMA', 'APLAPOLLO', 'EIHOTEL', 'HDFCAMC', 'JINDALSTEL', 'CONCOR', 'POLICYBZR', 'TATAMTRDVR', 'CENTURYPLY', 'MOLDTKPAC', 'AARTIDRUGS', 'BOSCHLTD', 'EQUITASBNK', 'DBL', 'CIPLA', 'SCHAEFFLER', 'TDPOWERSYS', 'BHARATFORG', 'TATAMOTORS', 'IPCALAB', 'SUNPHARMA', 'CHEMPLASTS', 'PSPPROJECT', 'NAUKRI', 'HCLTECH', 'BHARTIARTL', 'ITI', 'NEOGEN', 'FSL', 'TINPLATE', 'GLENMARK', 'INDHOTEL', 'TATASTEEL', 'BEPL', 'RAINBOW', 'LAURUSLABS', 'DCXINDIA', 'CUMMINSIND', 'BSOFT', 'MARICO', 'FIVESTAR', 'ELECON', 'LTIM', 'LICI', 'COALINDIA', 'IEX', 'JUBLPHARMA', 'BDL', 'DIVISLAB', 'JKIL', 'SHYAMMETL', 'DOLLAR', 'EIDPARRY', 'BERGEPAINT', 'HEIDELBERG', 'MOTHERSON', 'TITAGARH', 'QUESS', 'PRESTIGE', 'CONCORDBIO', 'VSTTILLERS', 'HONAUT', 'CIEINDIA', 'SOMANYCERA', 'NH', 'TTKPRESTIG', 'AUTOAXLES', 'GUJGASLTD', 'GODFRYPHLP', 'RADICO', 'BSE', 'VIJAYA', 'GHCL', 'GALAXYSURF', 'EXIDEIND', 'FUSION', 'GRINDWELL', 'FIEMIND', 'JKPAPER', 'KIMS', 'JISLJALEQS', 'LUPIN', 'BALRAMCHIN', 'RUPA', 'SUVENPHAR', 'POWERINDIA', 'NMDC', 'CREDITACC', 'CARBORUNIV', 'IGL', 'RAJESHEXPO', 'LAOPALA', 'PIIND', 'NTPC', 'VOLTAMP', 'HUDCO', 'MOL', 'SYNGENE', 'TATACOMM', 'BPCL', 'SONATSOFTW', 'JBCHEPHARM', 'NCC', 'CCL', 'M&M', 'MARUTI', 'JKTYRE', 'KOLTEPATIL', 'PNCINFRA', 'DODLA', 'RAJRATAN', 'ASTRAL', 'EPL', 'JAICORPLTD', 'TIRUMALCHM', 'IRCON', 'TEGA', 'KPITTECH', 'TECHM', 'PTC', 'JBMA', 'TORNTPHARM', 'BEL', 'GLAND', 'ZOMATO', 'SULA', 'FINCABLES', 'INGERRAND', 'ANANDRATHI', 'SWSOLAR', 'POWERMECH', 'AARTIIND', 'SUNFLAG', 'RAMKY', 'HAL', 'IIFL', 'INDIACEM', 'KPRMILL', 'RITES', 'ANANTRAJ', 'OIL', 'SHARDACROP', 'KFINTECH', 'ARVINDFASN', 'HINDCOPPER', 'SUNDRMFAST', 'UNOMINDA', 'NRBBEARING', 'KIRLOSENG', 'BBTC', 'PAISALO', 'HGS', 'FACT', 'TECHNOE', 'VEDL', 'PIDILITIND', 'MAZDOCK', 'ZFCVINDIA', 'TATACHEM', 'TMB', 'TATAPOWER', 'BANDHANBNK', 'DEVYANI', 'TCS', 'INFY', 'TANLA', 'TIINDIA', '3MINDIA', 'LODHA', 'DEEPAKNTR', 'WHIRLPOOL', 'RAILTEL', 'NESCO', 'TATAMETALI', 'BAJAJCON', 'WELSPUNLIV', 'MOIL', 'J&KBANK', 'AUROPHARMA', 'TATAELXSI', 'SAKSOFT', 'DIXON', 'GSPL', 'HOMEFIRST', 'NATCOPHARM', 'GMMPFAUDLR', 'HARSHA', 'RKFORGE', 'HERITGFOOD', 'CARYSIL', 'MSUMI', 'COSMOFIRST', 'FINEORG', 'DMART', 'SHAREINDIA', 'JKCEMENT', 'GAIL', 'CHENNPETRO', 'HAPPSTMNDS', 'BHEL', 'AAVAS', 'ASTRAMICRO', 'IFBIND', 'VRLLOG', 'GUJALKALI', 'TATACONSUM', 'STARCEMENT', 'VINATIORGA', 'IKIO', 'IRCTC', 'SYRMA', 'GATEWAY', 'ASTERDM', 'ICICIGI', '360ONE', 'CROMPTON', 'SBCL', 'AWL', 'RATNAMANI', 'LGBBROSLTD', 'KKCL', 'HGINFRA', 'UJJIVANSFB', 'ISEC', 'WIPRO', 'BANKINDIA', 'CANFINHOME', 'JUBLINGREA', 'AARTIPHARM', 'EMIL', 'ADANIGREEN', 'PERSISTENT', 'KAJARIACER', 'UFLEX', 'VOLTAS', 'HSCL', 'KRBL', 'PGEL', 'JUSTDIAL', 'PRSMJOHNSN', 'SOUTHBANK', 'ZYDUSLIFE', 'GRAPHITE', 'GABRIEL', 'INDIAGLYCO', 'UNIPARTS', 'SOBHA', 'COFORGE', 'CHOLAFIN', 'CHAMBLFERT', 'BIOCON', 'LICHSGFIN', 'OPTIEMUS', 'JYOTHYLAB', 'CAMS', 'UNIONBANK', 'HAVELLS', 'WSTCSTPAPR', 'SPARC', 'MRPL', 'INDIGOPNTS', 'ITDCEM', 'CYIENT', 'KANSAINER', 'TIDEWATER', 'CGPOWER', 'MAHLOG', 'PGHL', 'HINDUNILVR', 'ROUTE', 'STARHEALTH', 'GREENLAM', 'PNBHOUSING', 'IRFC', 'VESUVIUS', 'BALMLAWRIE', 'SHOPERSTOP', 'MASTEK', 'POWERGRID', 'AIAENG', 'ABCAPITAL', 'LINDEINDIA', 'CANBK', 'IBREALEST', 'JMFINANCIL', 'CONFIPET', 'AETHER', 'SAREGAMA', 'SONACOMS', 'BAJAJHLDNG', 'ATGL', 'TORNTPOWER', 'SUPRIYA', 'AGI', 'RAYMOND', 'SAIL', 'BEML', 'HINDWAREAP', 'ELGIEQUIP', 'BANKBARODA', 'NHPC', 'METROPOLIS', 'IDBI', 'ERIS', 'CDSL', 'KIRIINDUS', 'LXCHEM', 'RENUKA', 'GRASIM', 'IOLCP', 'EDELWEISS', 'INDUSINDBK', 'JSWSTEEL', 'KOTAKBANK', 'SIYSIL', 'FDC', 'DALMIASUG', 'MCDOWELL-N', 'SBIN', 'PFIZER', 'RELAXO', 'ANGELONE', 'PPLPHARMA', 'CRISIL', 'APTUS', 'JAMNAAUTO', 'UNICHEMLAB', 'IOC', 'TITAN', 'GPPL', 'SUNTV', 'SPANDANA', 'YESBANK', 'MANYAVAR', 'PNB', 'FINPIPE', 'ADANIPOWER', 'TATAINVEST', 'SCHNEIDER', 'ASTRAZEN', 'SYMPHONY', 'MARKSANS', 'USHAMART', 'UCOBANK', 'VENKEYS', 'SHREECEM', 'NAZARA', 'BAJFINANCE', 'RELIANCE', 'BECTORFOOD', 'KNRCON', 'ITC', 'NOCIL', 'AXISBANK', 'ICICIPRULI', 'SIS', 'ALKEM', 'THERMAX', 'ENGINERSIN', 'HNDFDS', 'GRSE', 'MAHABANK', 'SBFC', 'KSCL', 'SUMICHEM', 'PGHH', 'CHOLAHLDNG', 'ULTRACEMCO', 'EICHERMOT', 'SANOFI', 'HINDALCO', 'PAYTM', 'ADVENZYMES', 'SFL', 'PRIVISCL', 'ROSSARI', 'PEL', 'APCOTEXIND', 'OFSS', 'ICICIBANK', 'MAITHANALL', 'M&MFIN', 'ASHOKLEY', 'SJVN', 'GRAVITA', 'TEAMLEASE', 'ZENTEC', 'THYROCARE', 'CASTROLIND', 'DATAMATICS', 'TIMETECHNO', 'RTNPOWER', 'HINDZINC', 'IOB', 'TIIL', 'CAMLINFINE', 'MTARTECH', 'AMIORG', 'GICRE', 'NSLNISP', 'CUB', 'VARROC', 'MGL', 'KPIL', 'BOMDYEING', 'NUVOCO', 'VMART', 'BARBEQUE', 'HLEGLAS', 'HBLPOWER', 'ONGC', 'DALBHARAT', 'TARSONS', 'UPL', 'SHILPAMED', 'GESHIP', 'KARURVYSYA', 'ACE', 'MAHSEAMLES', 'CMSINFO', 'HIL', 'RATEGAIN', 'DELTACORP', 'ATUL', 'SBICARD', 'SHANTIGEAR', 'STLTECH', 'PRINCEPIPE', 'FORTIS', 'CARTRADE', 'TTML', 'DELHIVERY', 'GREENPANEL', 'ORIENTELEC', 'ALKYLAMINE', 'TEJASNET', 'TCIEXP', 'ABFRL', 'KEC', 'MEDPLUS', 'PARAS', 'GOCOLORS', 'LALPATHLAB', 'SKFINDIA', 'HDFCBANK', 'JINDALPOLY', 'GODREJAGRO', 'PRAJIND', 'LTFOODS', 'BLUEDART', 'VGUARD', 'ASIANPAINT', 'TVSSCS', 'AFFLE', 'NIACL', 'HCG', 'RHIM', 'KIRLPNU', 'REDINGTON', 'JINDWORLD', 'INDIANB', 'CAMPUS', 'FCL', 'TVSMOTOR', 'APLLTD', 'GUFICBIO', 'IDFC', 'CENTRALBK', 'SWANENERGY', 'VIPIND', 'HDFCLIFE', 'DBCORP', 'GREAVESCOT', 'NESTLEIND', 'GLOBUSSPR', 'DATAPATTNS', 'WESTLIFE', 'TIMKEN', 'SAFARI', 'BAJAJFINSV', 'SUBEXLTD', 'TCI', 'DREAMFOLKS', 'ASTEC', 'TCNSBRANDS', 'SPLPETRO', 'DABUR', 'RAMCOCEM', 'POLYMED', 'CIGNITITEC', 'AVANTIFEED', 'NETWORK18', 'SUDARSCHEM', 'AMBUJACEM', 'KRSNAA', 'ORIENTCEM', 'DEN', 'L&TFH', 'IMFA', 'SHRIRAMFIN', 'EMAMILTD', 'DCMSHRIRAM', 'NEWGEN', 'BATAINDIA', 'ESABINDIA', 'CRAFTSMAN', 'MIDHANI', 'MUTHOOTFIN', 'PVRINOX', 'MEDANTA', 'ARE&M', 'LAXMIMACH', 'MAHLIFE', 'BRITANNIA', 'MASFIN', 'GLAXO', 'MANAPPURAM', 'IONEXCHANG', 'WABAG', 'SAPPHIRE', 'NEULANDLAB', 'MMTC', 'RBLBANK', 'NAVNETEDUL', 'GODREJCP', 'IDFCFIRSTB', 'HIKAL', 'RAIN', 'NLCINDIA', 'EMUDHRA', 'INDUSTOWER', 'HEG', 'ASAHIINDIA', 'CLEAN', 'PTCIL', 'AJANTPHARM', 'RELINFRA', 'IFCI', 'STYRENIX', 'RBA', 'SUPREMEIND', 'WELENT', 'ENDURANCE', 'RELIGARE', 'HFCL', 'TRITURBINE', 'BALAMINES', 'SANSERA', 'RECLTD', 'ACI', 'ZYDUSWELL', 'INDOCO', 'GAEL', 'POLYPLEX', 'DEEPAKFERT', 'RPOWER', 'JWL', 'SUNDARMFIN', 'ZENSARTECH', 'NAVA', 'JUBLFOOD', 'RALLIS', 'KSB', 'GOKEX', 'DCBBANK', 'ACC', 'RESPONIND',
            'SARDAEN', 'PDSL', 'GMRINFRA', 'HINDOILEXP', 'COLPAL', 'COROMANDEL', 'VAIBHAVGBL', 'MCX', 'APARINDS', 'TV18BRDCST', 'INDIAMART', 'UBL', 'FLUOROCHEM', 'DHANI', 'TATVA', 'JKLAKSHMI', 'METROBRAND', 'KEI', 'HATHWAY', 'CSBBANK', 'NAVINFLUOR', 'AUBANK', 'PAGEIND', 'PFC', 'JPPOWER', 'ANURAS', 'IBULHSGFIN', 'SRF', 'INOXWIND', 'ELECTCAST', 'RTNINDIA', 'WELCORP', 'GILLETTE', 'GODREJIND', 'CGCL', 'GARFIBRES', 'DISHTV', 
            'IDEA', 'JPASSOCIAT', 'ALLCARGO', 'ZEEL', 'POLYCAB']

len(stock_list)

739

https://www.screener.in/company/compare/00000006/?limit=50&page=1

# SAVING TO THE EXCEL FILE

In [5]:
directory= 'C:\\Users\\User\OneDrive\\Documents\\screener_data\\'

In [133]:
import os
import time
import pandas as pd

#stock_list=['PNB','BANKBARODA','AXISBANK','ICICIBANK','SBIN','IOB',
#'INDUSINDBK','UNIONBANK','CANBK','KOTAKBANK','IDBI']

sl=['BIKAJI','MPHASIS','LUXIND', 'TRIVENI','DWARKESH','FEDERALBNK','EVEREADY','MRF','CERA','BAJAJHIND'
,'DRREDDY', 'ESCORTS']

# Create a new DataFrame to store all the data
balance = pd.DataFrame()
p_l = pd.DataFrame()
cash = pd.DataFrame()
# Create a new Excel workbook
writer = pd.ExcelWriter('C:\\Users\\User\\OneDrive\\Documents\\screener_data\\combined_data.xlsx')

for stock in sl:
    url = 'https://www.screener.in/company/'+stock
    table=pd.read_html(url)
    response = requests.get(url)
    # Parse the HTML content using BeautifulSoup
    soup = BeautifulSoup(response.text, 'html.parser')

    # Find all the divisions items within the company-ratios
    sector_lists = soup.find_all('div', {"class":"flex flex-space-between"})


    balance_sheet=table[6]
    profit_loss=table[1]
    cash_flow=table[7]
    time.sleep(5)

    for i in sector_lists:
        sector=i.find("a").get_text(strip=True)
        industry=i.find("p").get_text(strip=True).split(":")[2]


        # Add a column to identify the data of different companies
        balance_sheet['Company'] = stock
        balance_sheet['Sector']=sector
        balance_sheet['Industry']=industry
        profit_loss['Company'] = stock
        profit_loss['Sector']=sector
        profit_loss['Industry']=industry
        cash_flow['Company'] = stock
        cash_flow['Sector']=sector
        cash_flow['Industry']=industry
    
    
    # Append the data of each company to the combined DataFrame
    balance = balance.append(balance_sheet, ignore_index=True)
    p_l = p_l.append(profit_loss, ignore_index=True)
    cash = cash.append(cash_flow, ignore_index=True)
    
    balance.to_excel(writer, sheet_name='Balance_Sheet')
    p_l.to_excel(writer, sheet_name='Profit_Loss_Statement')
    cash.to_excel(writer, sheet_name='Cash_Flow_Statement')

# Close the Pandas Excel writer and output the Excel file.
writer.save()

C:\Users\User\AppData\Local\Temp\ipykernel_1696\2148905746.py:52: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  balance = balance.append(balance_sheet, ignore_index=True)
C:\Users\User\AppData\Local\Temp\ipykernel_1696\2148905746.py:53: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  p_l = p_l.append(profit_loss, ignore_index=True)
C:\Users\User\AppData\Local\Temp\ipykernel_1696\2148905746.py:54: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  cash = cash.append(cash_flow, ignore_index=True)
C:\Users\User\AppData\Local\Temp\ipykernel_1696\2148905746.py:52: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  balance = balance.append(balance_sheet, ignore_index=True)
C:\Users\User\AppData\Local\Temp\ipykernel_1696\2148905746.py:53: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  p_l = p_l.append(profit_loss, ignore_index=True)
C:\Users\User\AppData\Local\Temp\ipykernel_1696\2148905746.py:54: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  cash = cash.append(cash_flow, ignore_index=True)
C:\Users\User\AppData\Local\Temp\ipykernel_1696\2148905746.py:52: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  balance = balance.append(balance_sheet, ignore_index=True)
C:\Users\User\AppData\Local\Temp\ipykernel_1696\2148905746.py:53: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  p_l = p_l.append(profit_loss, ignore_index=True)
C:\Users\User\AppData\Local\Temp\ipykernel_1696\2148905746.py:54: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  cash = cash.append(cash_flow, ignore_index=True)
C:\Users\User\AppData\Local\Temp\ipykernel_1696\2148905746.py:52: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  balance = balance.append(balance_sheet, ignore_index=True)
C:\Users\User\AppData\Local\Temp\ipykernel_1696\2148905746.py:53: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  p_l = p_l.append(profit_loss, ignore_index=True)
C:\Users\User\AppData\Local\Temp\ipykernel_1696\2148905746.py:54: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  cash = cash.append(cash_flow, ignore_index=True)
C:\Users\User\AppData\Local\Temp\ipykernel_1696\2148905746.py:52: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  balance = balance.append(balance_sheet, ignore_index=True)
C:\Users\User\AppData\Local\Temp\ipykernel_1696\2148905746.py:53: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  p_l = p_l.append(profit_loss, ignore_index=True)
C:\Users\User\AppData\Local\Temp\ipykernel_1696\2148905746.py:54: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  cash = cash.append(cash_flow, ignore_index=True)
C:\Users\User\AppData\Local\Temp\ipykernel_1696\2148905746.py:52: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  balance = balance.append(balance_sheet, ignore_index=True)
C:\Users\User\AppData\Local\Temp\ipykernel_1696\2148905746.py:53: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  p_l = p_l.append(profit_loss, ignore_index=True)
C:\Users\User\AppData\Local\Temp\ipykernel_1696\2148905746.py:54: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  cash = cash.append(cash_flow, ignore_index=True)
C:\Users\User\AppData\Local\Temp\ipykernel_1696\2148905746.py:52: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  balance = balance.append(balance_sheet, ignore_index=True)
C:\Users\User\AppData\Local\Temp\ipykernel_1696\2148905746.py:53: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  p_l = p_l.append(profit_loss, ignore_index=True)
C:\Users\User\AppData\Local\Temp\ipykernel_1696\2148905746.py:54: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  cash = cash.append(cash_flow, ignore_index=True)
C:\Users\User\AppData\Local\Temp\ipykernel_1696\2148905746.py:52: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  balance = balance.append(balance_sheet, ignore_index=True)
C:\Users\User\AppData\Local\Temp\ipykernel_1696\2148905746.py:53: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  p_l = p_l.append(profit_loss, ignore_index=True)
C:\Users\User\AppData\Local\Temp\ipykernel_1696\2148905746.py:54: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  cash = cash.append(cash_flow, ignore_index=True)
C:\Users\User\AppData\Local\Temp\ipykernel_1696\2148905746.py:52: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  balance = balance.append(balance_sheet, ignore_index=True)
C:\Users\User\AppData\Local\Temp\ipykernel_1696\2148905746.py:53: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  p_l = p_l.append(profit_loss, ignore_index=True)
C:\Users\User\AppData\Local\Temp\ipykernel_1696\2148905746.py:54: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  cash = cash.append(cash_flow, ignore_index=True)
C:\Users\User\AppData\Local\Temp\ipykernel_1696\2148905746.py:52: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  balance = balance.append(balance_sheet, ignore_index=True)
C:\Users\User\AppData\Local\Temp\ipykernel_1696\2148905746.py:53: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  p_l = p_l.append(profit_loss, ignore_index=True)
C:\Users\User\AppData\Local\Temp\ipykernel_1696\2148905746.py:54: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  cash = cash.append(cash_flow, ignore_index=True)
C:\Users\User\AppData\Local\Temp\ipykernel_1696\2148905746.py:52: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  balance = balance.append(balance_sheet, ignore_index=True)
C:\Users\User\AppData\Local\Temp\ipykernel_1696\2148905746.py:53: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  p_l = p_l.append(profit_loss, ignore_index=True)
C:\Users\User\AppData\Local\Temp\ipykernel_1696\2148905746.py:54: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  cash = cash.append(cash_flow, ignore_index=True)
C:\Users\User\AppData\Local\Temp\ipykernel_1696\2148905746.py:52: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  balance = balance.append(balance_sheet, ignore_index=True)
C:\Users\User\AppData\Local\Temp\ipykernel_1696\2148905746.py:53: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  p_l = p_l.append(profit_loss, ignore_index=True)
C:\Users\User\AppData\Local\Temp\ipykernel_1696\2148905746.py:54: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  cash = cash.append(cash_flow, ignore_index=True)
C:\Users\User\AppData\Local\Temp\ipykernel_1696\2148905746.py:61: FutureWarning: save is not part of the public API, usage can give unexpected results and will be removed in a future version
  writer.save()

# SAVING TO THE SQL FILE

In [39]:
import mysql.connector

# Establish connection to MySQL
conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="prithvi166",
    database="Stockdata",
    auth_plugin="mysql_native_password"
)

In [116]:
import os
import time
import pandas as pd
from sqlalchemy import create_engine


#stock_list=['PNB','BANKBARODA','AXISBANK','ICICIBANK','SBIN','IOB',
#'INDUSINDBK','UNIONBANK','CANBK','KOTAKBANK','IDBI']

# Create a new SQLite database in memory


engine = create_engine('mysql://root:prithvi166@localhost:3306/stockdata')

# Create a new DataFrame to store all the data
balance = pd.DataFrame()
p_l = pd.DataFrame()
cash = pd.DataFrame()

for stock in stock_list:
    url = 'https://www.screener.in/company/'+stock
    table=pd.read_html(url)
    response = requests.get(url)
    # Parse the HTML content using BeautifulSoup
    soup = BeautifulSoup(response.text, 'html.parser')

    # Find all the divisions items within the company-ratios
    sector_lists = soup.find_all('div', {"class":"flex flex-space-between"})


    balance_sheet=table[6]
    profit_loss=table[1]
    cash_flow=table[7]
    time.sleep(5)

    for i in sector_lists:
        sector=i.find("a").get_text(strip=True)
        industry=i.find("p").get_text(strip=True).split(":")[2]


        # Add a column to identify the data of different companies
        balance_sheet['Company'] = stock
        balance_sheet['Sector']=sector
        balance_sheet['Industry']=industry
        profit_loss['Company'] = stock
        profit_loss['Sector']=sector
        profit_loss['Industry']=industry
        cash_flow['Company'] = stock
        cash_flow['Sector']=sector
        cash_flow['Industry']=industry


        # Append the data of each company to the combined DataFrame
        balance = balance.append(balance_sheet, ignore_index=True)
        p_l = p_l.append(profit_loss, ignore_index=True)
        cash = cash.append(cash_flow, ignore_index=True)

        # Save the DataFrame as a table in the SQLite database
        balance.to_sql('balance_sheet', con=engine, if_exists='append', index=False)
        p_l.to_sql('profit_loss_statement', con=engine, if_exists='append', index=False)
        cash.to_sql('cash_flow_statement', con=engine, if_exists='append', index=False)

C:\Users\User\AppData\Local\Temp\ipykernel_10728\98181045.py:54: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  balance = balance.append(balance_sheet, ignore_index=True)
C:\Users\User\AppData\Local\Temp\ipykernel_10728\98181045.py:55: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  p_l = p_l.append(profit_loss, ignore_index=True)
C:\Users\User\AppData\Local\Temp\ipykernel_10728\98181045.py:56: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  cash = cash.append(cash_flow, ignore_index=True)

OperationalError: (MySQLdb.OperationalError) (1054, "Unknown column 'Sep 2011' in 'field list'")
[SQL: INSERT INTO balance_sheet (`Unnamed: 0`, `Sep 2011`, `Sep 2012`, `Mar 2014`, `Mar 2015`, `Mar 2016`, `Mar 2017`, `Mar 2018`, `Mar 2019`, `Mar 2020`, `Mar 2021`, `Mar 2022`, `Mar 2023`, `Sep 2023`, `Company`, `Sector`, `Industry`) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)]
[parameters: [('Equity Capital', 26, 26, 26, 26, 26, 26, 26, 26, 25, 24, 24, 22, 22, 'TRIVENI', 'Sugar', 'Sugar'), ('Reserves', 1006, 936, 783, 590, 523, 752, 855, 1052, 1246, 1439, 1750, 2638, 2662, 'TRIVENI', 'Sugar', 'Sugar'), ('Borrowings\xa0+', 826, 1022, 1176, 1472, 1678, 1721, 1240, 1684, 1530, 940, 1511, 840, 310, 'TRIVENI', 'Sugar', 'Sugar'), ('Other Liabilities\xa0+', 349, 307, 1005, 842, 742, 556, 850, 976, 1139, 1058, 755, 851, 602, 'TRIVENI', 'Sugar', 'Sugar'), ('Total Liabilities', 2206, 2291, 2990, 2929, 2969, 3055, 2970, 3739, 3940, 3462, 4040, 4351, 3595, 'TRIVENI', 'Sugar', 'Sugar'), ('Fixed Assets\xa0+', 1072, 1020, 950, 875, 862, 854, 843, 839, 1080, 1065, 1069, 1461, 1440, 'TRIVENI', 'Sugar', 'Sugar'), ('CWIP', 15, 7, 2, 18, 9, 2, 10, 205, 26, 22, 257, 28, 117, 'TRIVENI', 'Sugar', 'Sugar'), ('Investments', 11, 41, 38, 46, 56, 51, 55, 54, 73, 49, 59, 53, 56, 'TRIVENI', 'Sugar', 'Sugar'), ('Other Assets\xa0+', 1108, 1223, 2000, 1989, 2042, 2148, 2063, 2641, 2761, 2326, 2656, 2808, 1982, 'TRIVENI', 'Sugar', 'Sugar'), ('Total Assets', 2206, 2291, 2990, 2929, 2969, 3055, 2970, 3739, 3940, 3462, 4040, 4351, 3595, 'TRIVENI', 'Sugar', 'Sugar')]]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

# OVERVIEW OF IMPORTED DATA FROM MYSQL

In [3]:
import mysql.connector

db_connect = mysql.connector.connect(host="localhost",user="root",password="prithvi166",
                                     database="stockdata",auth_plugin="mysql_native_password")

cur=db_connect.cursor()
cur.execute("Show tables;")
myresult = cur.fetchall()
 
for x in myresult:
    print(x)

('balance_sheet',)
('cash_flow_statement',)
('profit_loss_statement',)

# Balance Sheet

In [132]:
import pandas as pd

db_connect = mysql.connector.connect(host="localhost",user="root",password="prithvi166",
                                     database="stockdata",auth_plugin="mysql_native_password")

cur1=db_connect.cursor()

cur1.execute("SELECT * FROM balance_sheet ")

balance_sheet= cur1.fetchall()
df=pd.DataFrame(balance_sheet,columns={'0': 'Unnamed: 0', '1': 'Mar-12', '2': 'Mar-13', '3': 'Mar-14', '4': 'Mar-15', '5': 'Mar-16', '6': 'Mar-17', '7': 'Mar-18', '8': 'Mar-19', '9': 'Mar-20', '10': 'Mar-21', '11': 'Mar-22', '12': 'Mar-23', '13': 'Sep-23', '14': 'Company', '15': 'Sector', '16': 'Industry', '17': 'Sep-12', '18': 'Sep-13', '19': 'Mar-11', '20': 'Sep-14', '21': 'Sep-15', '22': 'Sep-16', '23': 'Sep-17', '24': 'Sep-18', '25': 'Sep-19', '26': 'Sep-20', '27': 'Sep-21', '28': 'Sep-22', '29': 'Jun-12', '30': 'Jun-13', '31': 'Jun-14', '32': 'Jun-15', '33': 'Dec-12', '34': 'Dec-13', '35': 'Dec-14', '36': 'Dec-15', '37': 'Dec-16', '38': 'Dec-17', '39': 'Dec-18', '40': 'Dec-19', '41': 'Dec-20', '42': 'Dec-21', '43': 'Dec-22', '44': 'Dec-23', '45': 'Dec-11', '46': 'Jun-16', '47': 'Jun-17', '48': 'Jun-18', '49': 'Jun-19', '50': 'Jun-20', '51': 'Jun-21', '52': 'Jun-22',
                                       '53': 'Jun-23', '54': 'Mar-10'})

df.rename(columns={'0': 'Unnamed: 0', '1': 'Mar-12', '2': 'Mar-13', '3': 'Mar-14', '4': 'Mar-15', '5': 'Mar-16', '6': 'Mar-17', '7': 'Mar-18', '8': 'Mar-19', '9': 'Mar-20', '10': 'Mar-21', '11': 'Mar-22', '12': 'Mar-23', '13': 'Sep-23', '14': 'Company', '15': 'Sector', '16': 'Industry', '17': 'Sep-12', '18': 'Sep-13', '19': 'Mar-11', '20': 'Sep-14', '21': 'Sep-15', '22': 'Sep-16', '23': 'Sep-17', '24': 'Sep-18', '25': 'Sep-19', '26': 'Sep-20', '27': 'Sep-21', '28': 'Sep-22', '29': 'Jun-12', '30': 'Jun-13', '31': 'Jun-14', '32': 'Jun-15', '33': 'Dec-12', '34': 'Dec-13', '35': 'Dec-14', '36': 'Dec-15', '37': 'Dec-16', '38': 'Dec-17', '39': 'Dec-18', '40': 'Dec-19', '41': 'Dec-20', '42': 'Dec-21', '43': 'Dec-22', '44': 'Dec-23', '45': 'Dec-11', '46': 'Jun-16', '47': 'Jun-17', '48': 'Jun-18', '49': 'Jun-19', '50': 'Jun-20', '51': 'Jun-21', '52': 'Jun-22', '53': 'Jun-23'
                   , '54': 'Mar-10'},inplace=True)
l=df.loc[:, :"Industry"]
l.to_csv(r"C:\Users\User\OneDrive\Documents\screener_data\balance.csv")

# Profit & Loss Statement

In [129]:
import pandas as pd

db_connect = mysql.connector.connect(host="localhost",user="root",password="prithvi166",
                                     database="stockdata",auth_plugin="mysql_native_password")

cur1=db_connect.cursor()

cur1.execute("SELECT * FROM profit_loss_statement ")

pls= cur1.fetchall()
df=pd.DataFrame(pls, columns={0: 'Unnamed: 0', 1: 'Mar-12', 2: 'Mar-13', 3: 'Mar-14', 4: 'Mar-15', 5: 'Mar-16', 6: 'Mar-17', 7: 'Mar-18', 8: 'Mar-19', 9: 'Mar-20', 10: 'Mar-21', 11: 'Mar-22', 12: 'Mar-23', 13: 'TTM', 14: 'Company', 15: 'Sector', 16: 'Industry', 17: 'Sep-12', 18: 'Sep-13', 19: 'Mar-11', 20: 'Sep-14', 21: 'Sep-15', 22: 'Sep-16', 23: 'Sep-17', 24: 'Sep-18', 25: 'Sep-19', 26: 'Sep-20', 27: 'Sep-21', 28: 'Sep-22', 29: 'Sep-23', 30: 'Jun-12', 31: 'Jun-13', 32: 'Jun-14', 33: 'Jun-15', 34: 'Dec-12', 35: 'Dec-13', 36: 'Dec-14', 37: 'Dec-15', 38: 'Dec-16', 39: 'Dec-17', 40: 'Dec-18', 41: 'Dec-19', 42: 'Dec-20', 43: 'Dec-21', 44: 'Dec-22', 45: 'Dec-23', 46: 'Dec-11', 47: 'Jun-16', 48: 'Jun-17', 49: 'Jun-18', 50: 'Jun-19', 51: 'Jun-20', 52: 'Jun-21', 53: 'Jun-22', 
                              54: 'Jun-23', 55: 'Mar-10'})
df.rename(columns={0: 'Unnamed: 0', 1: 'Mar-12', 2: 'Mar-13', 3: 'Mar-14', 4: 'Mar-15', 5: 'Mar-16', 6: 'Mar-17', 7: 'Mar-18', 8: 'Mar-19', 9: 'Mar-20', 10: 'Mar-21', 11: 'Mar-22', 12: 'Mar-23', 13: 'TTM', 14: 'Company', 15: 'Sector', 16: 'Industry', 17: 'Sep-12', 18: 'Sep-13', 19: 'Mar-11', 20: 'Sep-14', 21: 'Sep-15', 22: 'Sep-16', 23: 'Sep-17', 24: 'Sep-18', 25: 'Sep-19', 26: 'Sep-20', 27: 'Sep-21', 28: 'Sep-22', 29: 'Sep-23', 30: 'Jun-12', 31: 'Jun-13', 32: 'Jun-14', 33: 'Jun-15', 34: 'Dec-12', 35: 'Dec-13', 36: 'Dec-14', 37: 'Dec-15', 38: 'Dec-16', 39: 'Dec-17', 40: 'Dec-18', 41: 'Dec-19', 42: 'Dec-20', 43: 'Dec-21', 44: 'Dec-22', 45: 'Dec-23', 46: 'Dec-11', 47: 'Jun-16', 48: 'Jun-17', 49: 'Jun-18', 50: 'Jun-19', 51: 'Jun-20', 52: 'Jun-21', 53: 'Jun-22', 54: 'Jun-23',
                   55: 'Mar-10'},inplace=True)
l=df.loc[:,:"Industry"]
l.to_csv(r"C:\Users\User\OneDrive\Documents\screener_data\profit_loss.csv")

# Cash flow Statement

In [121]:
import pandas as pd

db_connect = mysql.connector.connect(host="localhost",user="root",password="prithvi166",
                                     database="stockdata",auth_plugin="mysql_native_password")

cur1=db_connect.cursor()

cur1.execute("SELECT * FROM cash_flow_statement ")

cash= cur1.fetchall()
df=pd.DataFrame(cash, columns={0: 'Unnamed: 0', 1: 'Mar-12', 2: 'Mar-13', 3: 'Mar-14', 4: 'Mar-15', 5: 'Mar-16', 6: 'Mar-17', 7: 'Mar-18', 8: 'Mar-19', 9: 'Mar-20', 10: 'Mar-21', 11: 'Mar-22', 12: 'Mar-23', 13: 'Company', 14: 'Sector', 15: 'Industry',  16: 'Sep-23',17: 'Sep-12', 18: 'Sep-13', 19: 'Mar-11', 20: 'Sep-14', 21: 'Sep-15', 22: 'Sep-16', 23: 'Sep-17', 24: 'Sep-18', 25: 'Sep-19', 26: 'Sep-20', 27: 'Sep-21', 28: 'Sep-22', 29: 'Jun-12', 30: 'Jun-13', 31: 'Jun-14', 32: 'Jun-15', 33: 'Dec-12', 34: 'Dec-13', 35: 'Dec-14', 36: 'Dec-15', 37: 'Dec-16', 38: 'Dec-17', 39: 'Dec-18', 40: 'Dec-19', 41: 'Dec-20', 42: 'Dec-21', 43: 'Dec-22', 44: 'Dec-23', 45: 'Dec-11', 46: 'Jun-16', 47: 'Jun-17', 48: 'Jun-18', 49: 'Jun-19', 50: 'Jun-20', 51: 'Jun-21', 52: 'Jun-22', 53: 'Jun-23', 54: 'Mar-10'})
df.rename(columns= {0: 'Unnamed: 0', 1: 'Mar-12', 2: 'Mar-13', 3: 'Mar-14', 4: 'Mar-15', 5: 'Mar-16', 6: 'Mar-17', 7: 'Mar-18', 8: 'Mar-19', 9: 'Mar-20', 10: 'Mar-21', 11: 'Mar-22', 12: 'Mar-23',  13: 'Company', 14: 'Sector', 15: 'Industry', 17: 'Sep-12',16: 'Sep-23', 18: 'Sep-13', 19: 'Mar-11', 20: 'Sep-14', 21: 'Sep-15', 22: 'Sep-16', 23: 'Sep-17', 24: 'Sep-18', 25: 'Sep-19', 26: 'Sep-20', 27: 'Sep-21', 28: 'Sep-22', 29: 'Jun-12', 30: 'Jun-13', 31: 'Jun-14', 32: 'Jun-15', 33: 'Dec-12', 34: 'Dec-13', 35: 'Dec-14', 36: 'Dec-15', 37: 'Dec-16', 38: 'Dec-17', 39: 'Dec-18', 40: 'Dec-19', 41: 'Dec-20', 42: 'Dec-21', 43: 'Dec-22', 44: 'Dec-23', 45: 'Dec-11', 46: 'Jun-16', 47: 'Jun-17', 48: 'Jun-18', 49: 'Jun-19', 50: 'Jun-20', 51: 'Jun-21', 52: 'Jun-22', 53: 'Jun-23',
                    54: 'Mar-10'},inplace=True)


l=df.loc[:, :"Industry"]
l.to_csv(r"C:\Users\User\OneDrive\Documents\screener_data\cash.csv")

In [ ]:
url = "https://www.screener.in/company/HDFCBANK/consolidated/"
    
headers = {
        'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/115.0.0.0 Safari/537.36',
        'Accept-Language':'en-US'
    }    

    
    
response = requests.get(url,headers= headers)
soup = BeautifulSoup(response.text,'lxml')
table= soup.find('table', class_="data-table responsive-text-nowrap")
head= table.find_all("th")
body= table.find_all("tr")



column=[]
for i in head:
    title=i.text
    column.append(title)
df=pd.DataFrame(columns=column)
for i in body[1:]:
    data=i.find_all("td")
    r=[tr.text for tr in data]
    df.loc[len(df)]=r

df

In [ ]:
directory= 'C:\\Users\\User\OneDrive\\Documents\\screener_data\\'
# Create a new DataFrame to store all the data

for row in stock_list:
    b=os.path.join(directory, row)+".xlsx"
    
    for stock in stock_list:
        url = 'https://www.screener.in/company/'+stock
        table=pd.read_html(url,index_col=False)

        balance_sheet=table[6]
        profit_loss=table[1]
        cash_flow=table[7]
        time.sleep(5)
        with pd.ExcelWriter(b) as writer:
            balance_sheet.to_excel(writer,sheet_name="Balance_sheet")
            profit_loss.to_excel(writer,sheet_name="Profit_Loss_Statement")
            cash_flow.to_excel(writer,sheet_name="Cash_flow_Statement")